# Working Out Schema

In [1]:
!pip install tableschema

Requirement already satisfied: tableschema in /opt/anaconda3/lib/python3.12/site-packages (1.21.0)
Requirement already satisfied: six>=1.9 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (1.16.0)
Requirement already satisfied: click>=3.3 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (8.1.7)
Requirement already satisfied: requests>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (2.32.3)
Requirement already satisfied: cached-property>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (2.0.1)
Requirement already satisfied: python-dateutil>=2.4 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (2.9.0.post0)
Requirement already satisfied: jsonschema>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (4.23.0)
Requirement already satisfied: unicodecsv>=0.14 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (0.14.1)
Requirement already satisfied: isodate>=0.5.4 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (0.7.2)
Requirement already satisfied: rfc3986>=1.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (2.0.0)
Requirement already satisfied: dataflows-tabulator>=1.54.1 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (1.54.3)
Requirement already satisfied: chardet>=3.0 in /opt/anaconda3/lib/python3.12/site-packages (from dataflows-tabulator>=1.54.1->tableschema) (4.0.0)
Requirement already satisfied: boto3>=1.9 in /opt/anaconda3/lib/python3.12/site-packages (from dataflows-tabulator>=1.54.1->tableschema) (1.41.5)
Requirement already satisfied: ijson>=3.0.3 in /opt/anaconda3/lib/python3.12/site-packages (from dataflows-tabulator>=1.54.1->tableschema) (3.4.0.post0)
Requirement already satisfied: jsonlines>=1.1 in /opt/anaconda3/lib/python3.12/site-packages (from dataflows-tabulator>=1.54.1->tableschema) (4.0.0)
Requirement already satisfied: sqlalchemy>=0.9.6 in /opt/anaconda3/lib/python3.12/site-packages (from dataflows-tabulator>=1.54.1->tableschema) (2.0.34)
Requirement already satisfied: linear-tsv>=1.0 in /opt/anaconda3/lib/python3.12/site-packages (from dataflows-tabulator>=1.54.1->tableschema) (1.1.0)
Requirement already satisfied: xlrd>=1.0 in /opt/anaconda3/lib/python3.12/site-packages (from dataflows-tabulator>=1.54.1->tableschema) (2.0.2)
Requirement already satisfied: openpyxl>=2.6 in /opt/anaconda3/lib/python3.12/site-packages (from dataflows-tabulator>=1.54.1->tableschema) (3.1.5)
Requirement already satisfied: botocore<1.42.0,>=1.41.5 in /opt/anaconda3/lib/python3.12/site-packages (from boto3>=1.9->dataflows-tabulator>=1.54.1->tableschema) (1.41.5)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/anaconda3/lib/python3.12/site-packages (from boto3>=1.9->dataflows-tabulator>=1.54.1->tableschema) (1.0.1)
Requirement already satisfied: s3transfer<0.16.0,>=0.15.0 in /opt/anaconda3/lib/python3.12/site-packages (from boto3>=1.9->dataflows-tabulator>=1.54.1->tableschema) (0.15.0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /opt/anaconda3/lib/python3.12/site-packages (from botocore<1.42.0,>=1.41.5->boto3>=1.9->dataflows-tabulator>=1.54.1->tableschema) (2.2.3)
Requirement already satisfied: attrs>=19.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from jsonlines>=1.1->dataflows-tabulator>=1.54.1->tableschema) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /opt/anaconda3/lib/python3.12/site-packages (from jsonschema>=2.5->tableschema) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in /opt/anaconda3/lib/python3.12/site-packages (from jsonschema>=2.5->tableschema) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in /opt/anaconda3/lib/python3.12/site-packages (from jsonschema>=2.5->tableschema) (0.10.6)
Requirement already satisfied: et-xmlfile in /opt/anaconda3/lib/python3.12/site-packages (from openpyxl>=2.6->dataflows-tabulator>=1.54.1->tableschema) (1.1.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.5->tableschema) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.5->tableschema) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.5->tableschema) (2025.4.26)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=0.9.6->dataflows-tabulator>=1.54.1->tableschema) (4.15.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [2]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.12/site-packages (2.9.11)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [3]:
import pandas as pd
import os
from sqlalchemy import create_engine
from dotenv import load_dotenv

In [4]:
root_folder = 'data-epc'
file_type = '.csv'

data_dump = []

In [5]:
def load_file(path):
    if path.endswith('.csv'):
        return pd.read_csv(path)
    return None

In [6]:
for root, dirs, files in os.walk(root_folder): 
    for file in files: 
        if file.lower().endswith(file_type) and file.lower().startswith('certificates'):
            file_path = os.path.join(root,file)
            print(f'Loading: {file_path}')

            df = load_file(file_path)
            df['source_file'] = file_path
            data_dump.append(df)

Loading: data-epc/domestic-E06000041-Wokingham/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_9116/1715873210.py:3: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E06000037-West-Berkshire/certificates copy.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_9116/1715873210.py:3: DtypeWarning: Columns (15,34,37) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E06000039-Slough/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_9116/1715873210.py:3: DtypeWarning: Columns (15,34,37) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E07000005-Chiltern/certificates.csv
Loading: data-epc/domestic-E07000213-Spelthorne/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_9116/1715873210.py:3: DtypeWarning: Columns (34,37) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E06000036-Bracknell-Forest/certificates.csv
Loading: data-epc/domestic-E06000042-Milton-Keynes/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_9116/1715873210.py:3: DtypeWarning: Columns (34,83) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E07000007-Wycombe/certificates.csv
Loading: data-epc/domestic-E07000004-Aylesbury-Vale/certificates.csv
Loading: data-epc/domestic-E06000060-Buckinghamshire/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_9116/1715873210.py:3: DtypeWarning: Columns (15,34,83) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E06000040-Windsor-and-Maidenhead/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_9116/1715873210.py:3: DtypeWarning: Columns (15,34) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E07000103-Watford/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_9116/1715873210.py:3: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E07000217-Woking/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_9116/1715873210.py:3: DtypeWarning: Columns (34,37,39,40,83) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E06000038-Reading/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_9116/1715873210.py:3: DtypeWarning: Columns (34,37) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E07000084-Basingstoke-and-Deane/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_9116/1715873210.py:3: DtypeWarning: Columns (34,37) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E07000085-East-Hampshire/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_9116/1715873210.py:3: DtypeWarning: Columns (37) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E07000096-Dacorum/certificates.csv
Loading: data-epc/domestic-E07000006-South-Bucks/certificates.csv
Loading: data-epc/domestic-E09000017-Hillingdon/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_9116/1715873210.py:3: DtypeWarning: Columns (15,34,39,40,83) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E07000102-Three-Rivers/certificates.csv
Loading: data-epc/domestic-E07000086-Eastleigh/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_9116/1715873210.py:3: DtypeWarning: Columns (34,83) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E07000087-Fareham/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_9116/1715873210.py:3: DtypeWarning: Columns (34,37) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

In [7]:
# Combining the datasets as they have the same schema
combined_df = pd.concat(data_dump, ignore_index=True, sort=False)
combined_df.head()

,LMK_KEY,ADDRESS1,ADDRESS2,ADDRESS3,POSTCODE,BUILDING_REFERENCE_NUMBER,CURRENT_ENERGY_RATING,POTENTIAL_ENERGY_RATING,CURRENT_ENERGY_EFFICIENCY,POTENTIAL_ENERGY_EFFICIENCY,...,POSTTOWN,CONSTRUCTION_AGE_BAND,LODGEMENT_DATETIME,TENURE,FIXED_LIGHTING_OUTLETS_COUNT,LOW_ENERGY_FIXED_LIGHT_COUNT,UPRN,UPRN_SOURCE,REPORT_TYPE,source_file
0,509075769602010070514280374700258,Oldbury Court,Houston Way,NaN,RG45 6BY,6689367768,D,C,58,70,...,CROWTHORNE,England and Wales: 1983-1990,2010-07-05 14:28:03,rental (private),NaN,NaN,1.404749e+07,Address Matched,100,data-epc/domestic-E06000041-Wokingham/certific...
1,825484589922012081523401030158582,"32, Jersey Drive",Winnersh,NaN,RG41 5FR,8309890078,C,B,78,89,...,WOKINGHAM,England and Wales: 2003-2006,2012-08-15 23:40:10,rental (private),12.0,3.0,1.003293e+10,Address Matched,100,data-epc/domestic-E06000041-Wokingham/certific...
2,308522336512020052719593725200865,"5, Mount Pleasant",NaN,NaN,RG41 2YG,8588653668,E,B,43,87,...,WOKINGHAM,England and Wales: before 1900,2020-05-27 19:59:37,rental (private),NaN,NaN,1.404619e+07,Address Matched,100,data-epc/domestic-E06000041-Wokingham/certific...
3,1400255992812016022517164196949049,"10, Grazeley Road",Three Mile Cross,NaN,RG7 1BJ,970261478,B,A,83,95,...,READING,NO DATA!,2016-02-25 17:16:41,unknown,20.0,20.0,1.002405e+10,Address Matched,101,data-epc/domestic-E06000041-Wokingham/certific...
4,532780989652010082610135392200777,"2, Chilcombe Way",Lower Earley,NaN,RG6 3DA,7744929768,D,C,68,76,...,READING,England and Wales: 1976-1982,2010-08-26 10:13:53,owner-occupied,NaN,NaN,1.401858e+07,Address Matched,100,data-epc/domestic-E06000041-Wokingham/certific...

In [8]:
load_dotenv()
password = os.getenv('db_pass')
database_name = os.getenv('db_name')

# Creating an engine to write to PostgresSQL
engine = create_engine(f'postgresql+psycopg2://postgres:{password}@localhost:5432/{database_name}')

In [9]:
'''
# Writing to SQL
combined_df.to_sql(
    'epc_certificates',
    engine,
    if_exists='replace',
    index=False
)
'''

"\n# Writing to SQL\ncombined_df.to_sql(\n    'epc_certificates',\n    engine,\n    if_exists='replace',\n    index=False\n)\n"

In [10]:
combined_df.size

134942076

In [11]:
valid_postcodes = ('HP8', 'SL9', 'SL1', 'SL2', 'SL3', 'SL0', 'SL6', 'SL7', 'HP9', 'HP10', 'SL4', 'HP11', 'HP12', 'HP13')

valid_EPC = combined_df[combined_df['POSTCODE'].str.startswith(valid_postcodes)]

valid_EPC.shape

(222359, 94)

In [12]:
valid_EPC.info()

<class 'pandas.core.frame.DataFrame'>
Index: 222359 entries, 144134 to 1329331
Data columns (total 94 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   LMK_KEY                        222359 non-null  object
 1   ADDRESS1                       222359 non-null  object
 2   ADDRESS2                       101959 non-null  object
 3   ADDRESS3                       25425 non-null   object
 4   POSTCODE                       222359 non-null  object
 5   BUILDING_REFERENCE_NUMBER      222359 non-null  int64
 6   CURRENT_ENERGY_RATING          222359 non-null  object
 7   POTENTIAL_ENERGY_RATING        222359 non-null  object
 8   CURRENT_ENERGY_EFFICIENCY      222359 non-null  int64
 9   POTENTIAL_ENERGY_EFFICIENCY    222359 non-null  int64
 10  PROPERTY_TYPE                  222359 non-null  object
 11  BUILT_FORM                     222342 non-null  object
 12  INSPECTION_DATE                222359 non-null  object
 13  LOCAL_AUTHORITY                222359 non-null  object
 14  CONSTITUENCY                   222359 non-null  object
 15  COUNTY                         69814 non-null   object
 16  LODGEMENT_DATE                 222359 non-null  object
 17  TRANSACTION_TYPE               222359 non-null  object
 18  ENVIRONMENT_IMPACT_CURRENT     222359 non-null  int64
 19  ENVIRONMENT_IMPACT_POTENTIAL   222359 non-null  int64
 20  ENERGY_CONSUMPTION_CURRENT     222359 non-null  int64
 21  ENERGY_CONSUMPTION_POTENTIAL   222307 non-null  float64
 22  CO2_EMISSIONS_CURRENT          222359 non-null  float64
 23  CO2_EMISS_CURR_PER_FLOOR_AREA  222359 non-null  int64
 24  CO2_EMISSIONS_POTENTIAL        222359 non-null  float64
 25  LIGHTING_COST_CURRENT          222306 non-null  float64
 26  LIGHTING_COST_POTENTIAL        222306 non-null  float64
 27  HEATING_COST_CURRENT           222306 non-null  float64
 28  HEATING_COST_POTENTIAL         222306 non-null  float64
 29  HOT_WATER_COST_CURRENT         222307 non-null  float64
 30  HOT_WATER_COST_POTENTIAL       222307 non-null  float64
 31  TOTAL_FLOOR_AREA               222359 non-null  float64
 32  ENERGY_TARIFF                  222356 non-null  object
 33  MAINS_GAS_FLAG                 196280 non-null  object
 34  FLOOR_LEVEL                    182183 non-null  object
 35  FLAT_TOP_STOREY                76585 non-null   object
 36  FLAT_STOREY_COUNT              16256 non-null   float64
 37  MAIN_HEATING_CONTROLS          137511 non-null  object
 38  MULTI_GLAZE_PROPORTION         203777 non-null  float64
 39  GLAZED_TYPE                    209561 non-null  object
 40  GLAZED_AREA                    209561 non-null  object
 41  EXTENSION_COUNT                196542 non-null  float64
 42  NUMBER_HABITABLE_ROOMS         196542 non-null  float64
 43  NUMBER_HEATED_ROOMS            196542 non-null  float64
 44  LOW_ENERGY_LIGHTING            214679 non-null  float64
 45  NUMBER_OPEN_FIREPLACES         215015 non-null  float64
 46  HOTWATER_DESCRIPTION           222359 non-null  object
 47  HOT_WATER_ENERGY_EFF           221683 non-null  object
 48  HOT_WATER_ENV_EFF              221680 non-null  object
 49  FLOOR_DESCRIPTION              222346 non-null  object
 50  FLOOR_ENERGY_EFF               68188 non-null   object
 51  FLOOR_ENV_EFF                  14331 non-null   object
 52  WINDOWS_DESCRIPTION            222319 non-null  object
 53  WINDOWS_ENERGY_EFF             222080 non-null  object
 54  WINDOWS_ENV_EFF                222080 non-null  object
 55  WALLS_DESCRIPTION              222351 non-null  object
 56  WALLS_ENERGY_EFF               222063 non-null  object
 57  WALLS_ENV_EFF                  222063 non-null  object
 58  SECONDHEAT_DESCRIPTION         72958 non-null   object
 59  SHEATING_ENERGY_EFF            0 non-null       float64
 60  SHEATING_ENV_EFF               0 non-null       float64
 61  ROOF_DESCRIPTION               222329 non-null  object
 62  ROOF_ENERGY_EFF                173923 non-null  object
 63  ROOF_ENV_EFF                   173923 non-null  object
 64  MAINHEAT_DESCRIPTION           222359 non-null  object
 65  MAINHEAT_ENERGY_EFF            221680 non-null  object
 66  MAINHEAT_ENV_EFF               221680 non-null  object
 67  MAINHEATCONT_DESCRIPTION       221764 non-null  object
 68  MAINHEATC_ENERGY_EFF           221770 non-null  object
 69  MAINHEATC_ENV_EFF              221770 non-null  object
 70  LIGHTING_DESCRIPTION           222359 non-null  object
 71  LIGHTING_ENERGY_EFF            222020 non-null  object
 72  LIGHTING_ENV_EFF               222058 non-null  object
 73  MAIN_FUEL                      221908 non-null  object
 74  WIND_TURBINE_COUNT             209068 non-null  float64
 75  HEAT_LOSS_CORRIDOR             175633 non-null  object
 76  UNHEATED_CORRIDOR_LENGTH       34361 non-null   float64
 77  FLOOR_HEIGHT                   120008 non-null  float64
 78  PHOTO_SUPPLY                   141838 non-null  float64
 79  SOLAR_WATER_HEATING_FLAG       147741 non-null  object
 80  MECHANICAL_VENTILATION         209677 non-null  object
 81  ADDRESS                        222359 non-null  object
 82  LOCAL_AUTHORITY_LABEL          222359 non-null  object
 83  CONSTITUENCY_LABEL             206695 non-null  object
 84  POSTTOWN                       221224 non-null  object
 85  CONSTRUCTION_AGE_BAND          219997 non-null  object
 86  LODGEMENT_DATETIME             222359 non-null  object
 87  TENURE                         218113 non-null  object
 88  FIXED_LIGHTING_OUTLETS_COUNT   133015 non-null  float64
 89  LOW_ENERGY_FIXED_LIGHT_COUNT   71292 non-null   float64
 90  UPRN                           218956 non-null  float64
 91  UPRN_SOURCE                    218956 non-null  object
 92  REPORT_TYPE                    222359 non-null  int64
 93  source_file                    222359 non-null  object
dtypes: float64(26), int64(8), object(60)
memory usage: 161.2+ MB

In [13]:
summary = valid_EPC.isna().sum().sort_values(ascending=False)

In [14]:
summary.head(n=50)

SHEATING_ENERGY_EFF             222359
SHEATING_ENV_EFF                222359
FLOOR_ENV_EFF                   208028
FLAT_STOREY_COUNT               206103
ADDRESS3                        196934
UNHEATED_CORRIDOR_LENGTH        187998
FLOOR_ENERGY_EFF                154171
COUNTY                          152545
LOW_ENERGY_FIXED_LIGHT_COUNT    151067
SECONDHEAT_DESCRIPTION          149401
FLAT_TOP_STOREY                 145774
ADDRESS2                        120400
FLOOR_HEIGHT                    102351
FIXED_LIGHTING_OUTLETS_COUNT     89344
MAIN_HEATING_CONTROLS            84848
PHOTO_SUPPLY                     80521
SOLAR_WATER_HEATING_FLAG         74618
ROOF_ENERGY_EFF                  48436
ROOF_ENV_EFF                     48436
HEAT_LOSS_CORRIDOR               46726
FLOOR_LEVEL                      40176
MAINS_GAS_FLAG                   26079
EXTENSION_COUNT                  25817
NUMBER_HABITABLE_ROOMS           25817
NUMBER_HEATED_ROOMS              25817
MULTI_GLAZE_PROPORTION           18582
CONSTITUENCY_LABEL               15664
WIND_TURBINE_COUNT               13291
GLAZED_TYPE                      12798
GLAZED_AREA                      12798
MECHANICAL_VENTILATION           12682
LOW_ENERGY_LIGHTING               7680
NUMBER_OPEN_FIREPLACES            7344
TENURE                            4246
UPRN                              3403
UPRN_SOURCE                       3403
CONSTRUCTION_AGE_BAND             2362
POSTTOWN                          1135
MAINHEAT_ENERGY_EFF                679
MAINHEAT_ENV_EFF                   679
HOT_WATER_ENV_EFF                  679
HOT_WATER_ENERGY_EFF               676
MAINHEATCONT_DESCRIPTION           595
MAINHEATC_ENV_EFF                  589
MAINHEATC_ENERGY_EFF               589
MAIN_FUEL                          451
LIGHTING_ENERGY_EFF                339
LIGHTING_ENV_EFF                   301
WALLS_ENV_EFF                      296
WALLS_ENERGY_EFF                   296
dtype: int64

In [15]:
valid_EPC.shape

(222359, 94)

# Land Registry Load

In [16]:
def load_folder_csvs(filepath, file_type='.csv', data_dump=[]):
    root_folder = filepath
    
    for root, dirs, files in os.walk(root_folder): 
        for file in files: 
            if file.lower().endswith(file_type):
                file_path = os.path.join(root,file)
                print(f'Loading: {file_path}')

                df = load_file(file_path)
                df['source_file'] = file_path
                data_dump.append(df)
    return data_dump

In [17]:
land_registry = load_folder_csvs(filepath='./data-land_registry')

Loading: ./data-land_registry/HP13-march2020-to-nov2025.csv
Loading: ./data-land_registry/SL2-march2020-to-nov2025.csv
Loading: ./data-land_registry/SL6-march2020-to-nov2025.csv
Loading: ./data-land_registry/HP12-march2020-to-nov2025.csv
Loading: ./data-land_registry/SL7-march2020-to-nov2025.csv
Loading: ./data-land_registry/SL3-march2020-to-nov2025.csv
Loading: ./data-land_registry/SL1-march2020-to-nov2025.csv.csv
Loading: ./data-land_registry/HP10-march2020-to-nov2025.csv
Loading: ./data-land_registry/HP9-march2020-to-nov2025.csv
Loading: ./data-land_registry/HP8-march2020-to-nov2025.csv
Loading: ./data-land_registry/SL4-march2020-to-nov2025.csv
Loading: ./data-land_registry/SL0-march2020-to-nov2025.csv
Loading: ./data-land_registry/HP11-march2020-to-nov2025.csv
Loading: ./data-land_registry/SL9-march2020-to-nov2025.csv.csv

In [18]:
type(land_registry)

list

In [19]:
land_registry[0]

,unique_id,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,street,locality,town,district,county,transaction_category,linked_data_uri,source_file
0,E2D14905-119C-4C2D-E053-6B04A8C0422B,582000,2022-06-06,HP13 5AA,S,N,F,NaN,49,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
1,2ACACE8C-96D3-295E-E063-4804A8C0B0EB,655000,2024-12-12,HP13 5AA,S,N,F,NaN,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
2,D4D42645-4622-27F6-E053-6C04A8C0A572,560000,2021-10-28,HP13 5AA,S,N,F,NaN,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
3,34222871-FD7A-4D2B-E063-4704A8C07853,375000,2025-03-31,HP13 5AB,T,N,F,NaN,134,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
4,F5E8B080-E8B1-3A13-E053-6C04A8C060B7,440000,2023-01-20,HP13 5AD,S,N,F,NaN,145,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,D22473F4-E36F-7B40-E053-6C04A8C0A630,335000,2021-09-30,HP13 7YE,T,N,F,NaN,15,CROFTWOOD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
2164,F3B6C197-C135-6E40-E053-6C04A8C0B3B4,360000,2022-07-15,HP13 7YE,T,N,F,NaN,24,CROFTWOOD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
2165,CD5A9DCB-8C0E-310A-E053-6C04A8C00A1F,305000,2021-03-26,HP13 7YE,T,N,F,NaN,28,CROFTWOOD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
2166,DBA933F9-00A9-669D-E053-6B04A8C0AD56,285000,2021-12-22,HP13 7YE,T,N,F,NaN,45,CROFTWOOD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
2167,D93B27B0-4DCC-3100-E053-6C04A8C08887,335000,2021-09-24,HP13 7YT,S,N,F,NaN,18,HALL CLOSE,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...

In [20]:
def concat_list_of_df(list_item=land_registry):
    try:
        if len(list_item) == 1:
            return list_item[0].copy()
        
        combined = pd.concat(list_item, ignore_index=True, axis=0)
        return combined
    
    except Exception as e:
        print(f'Combining dataframes errored with: {e}')
        
LR_combined = concat_list_of_df()

In [21]:
LR_combined.head()

,unique_id,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,street,locality,town,district,county,transaction_category,linked_data_uri,source_file
0,E2D14905-119C-4C2D-E053-6B04A8C0422B,582000,2022-06-06,HP13 5AA,S,N,F,NaN,49,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
1,2ACACE8C-96D3-295E-E063-4804A8C0B0EB,655000,2024-12-12,HP13 5AA,S,N,F,NaN,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
2,D4D42645-4622-27F6-E053-6C04A8C0A572,560000,2021-10-28,HP13 5AA,S,N,F,NaN,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
3,34222871-FD7A-4D2B-E063-4704A8C07853,375000,2025-03-31,HP13 5AB,T,N,F,NaN,134,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
4,F5E8B080-E8B1-3A13-E053-6C04A8C060B7,440000,2023-01-20,HP13 5AD,S,N,F,NaN,145,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...

In [22]:
LR_combined.size

379933

# Combining Datasets

In [23]:
valid_EPC.head(n=1)

,LMK_KEY,ADDRESS1,ADDRESS2,ADDRESS3,POSTCODE,BUILDING_REFERENCE_NUMBER,CURRENT_ENERGY_RATING,POTENTIAL_ENERGY_RATING,CURRENT_ENERGY_EFFICIENCY,POTENTIAL_ENERGY_EFFICIENCY,...,POSTTOWN,CONSTRUCTION_AGE_BAND,LODGEMENT_DATETIME,TENURE,FIXED_LIGHTING_OUTLETS_COUNT,LOW_ENERGY_FIXED_LIGHT_COUNT,UPRN,UPRN_SOURCE,REPORT_TYPE,source_file
144134,210776721852020070208271224000054,"48, Stanhope Road",NaN,NaN,SL1 6JS,487146568,D,B,56,84,...,SLOUGH,England and Wales: 1930-1949,2020-07-02 08:27:12,rental (private),NaN,NaN,1.000803e+11,Address Matched,100,data-epc/domestic-E06000039-Slough/certificate...

In [24]:
LR_combined.head(n=1)

,unique_id,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,street,locality,town,district,county,transaction_category,linked_data_uri,source_file
0,E2D14905-119C-4C2D-E053-6B04A8C0422B,582000,2022-06-06,HP13 5AA,S,N,F,NaN,49,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...

In [25]:
LR_combined.columns

Index(['unique_id', 'price_paid', 'deed_date', 'postcode', 'property_type',
       'new_build', 'estate_type', 'saon', 'paon', 'street', 'locality',
       'town', 'district', 'county', 'transaction_category', 'linked_data_uri',
       'source_file'],
      dtype='object')

! Looks like the Land Registry data does not have an address field so we need to make one.

In [26]:
valid_EPC.head()

,LMK_KEY,ADDRESS1,ADDRESS2,ADDRESS3,POSTCODE,BUILDING_REFERENCE_NUMBER,CURRENT_ENERGY_RATING,POTENTIAL_ENERGY_RATING,CURRENT_ENERGY_EFFICIENCY,POTENTIAL_ENERGY_EFFICIENCY,...,POSTTOWN,CONSTRUCTION_AGE_BAND,LODGEMENT_DATETIME,TENURE,FIXED_LIGHTING_OUTLETS_COUNT,LOW_ENERGY_FIXED_LIGHT_COUNT,UPRN,UPRN_SOURCE,REPORT_TYPE,source_file
144134,210776721852020070208271224000054,"48, Stanhope Road",NaN,NaN,SL1 6JS,487146568,D,B,56,84,...,SLOUGH,England and Wales: 1930-1949,2020-07-02 08:27:12,rental (private),NaN,NaN,1.000803e+11,Address Matched,100,data-epc/domestic-E06000039-Slough/certificate...
144135,1326681509222015052912541786218345,Flat 112 West Central,"1a, Stoke Road",NaN,SL2 5PF,4881046378,C,C,77,77,...,SLOUGH,NO DATA!,2015-05-29 12:54:17,unknown,10.0,10.0,1.009077e+10,Address Matched,101,data-epc/domestic-E06000039-Slough/certificate...
144136,962080069842014120417254410040148,"39a, Hencroft Street South",NaN,NaN,SL1 1RF,3825360178,D,C,60,78,...,SLOUGH,England and Wales: 1900-1929,2014-12-04 17:25:44,rental (private),7.0,5.0,1.000803e+11,Address Matched,100,data-epc/domestic-E06000039-Slough/certificate...
144137,1132980469202014051311353821240768,"20, Thorndike",NaN,NaN,SL2 1SR,9294862278,D,B,63,87,...,SLOUGH,England and Wales: 1950-1966,2014-05-13 11:35:38,owner-occupied,12.0,7.0,1.000803e+11,Address Matched,100,data-epc/domestic-E06000039-Slough/certificate...
144138,225287962132009020314541192068601,"5, Elmwood Road",NaN,NaN,SL2 5QQ,6162637568,E,C,48,74,...,SLOUGH,England and Wales: 1930-1949,2009-02-03 14:54:11,owner-occupied,NaN,NaN,1.000803e+11,Address Matched,100,data-epc/domestic-E06000039-Slough/certificate...

In [27]:
LR_combined.head()

,unique_id,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,street,locality,town,district,county,transaction_category,linked_data_uri,source_file
0,E2D14905-119C-4C2D-E053-6B04A8C0422B,582000,2022-06-06,HP13 5AA,S,N,F,NaN,49,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
1,2ACACE8C-96D3-295E-E063-4804A8C0B0EB,655000,2024-12-12,HP13 5AA,S,N,F,NaN,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
2,D4D42645-4622-27F6-E053-6C04A8C0A572,560000,2021-10-28,HP13 5AA,S,N,F,NaN,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
3,34222871-FD7A-4D2B-E063-4704A8C07853,375000,2025-03-31,HP13 5AB,T,N,F,NaN,134,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
4,F5E8B080-E8B1-3A13-E053-6C04A8C060B7,440000,2023-01-20,HP13 5AD,S,N,F,NaN,145,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...

In [28]:
valid_EPC.columns

Index(['LMK_KEY', 'ADDRESS1', 'ADDRESS2', 'ADDRESS3', 'POSTCODE',
       'BUILDING_REFERENCE_NUMBER', 'CURRENT_ENERGY_RATING',
       'POTENTIAL_ENERGY_RATING', 'CURRENT_ENERGY_EFFICIENCY',
       'POTENTIAL_ENERGY_EFFICIENCY', 'PROPERTY_TYPE', 'BUILT_FORM',
       'INSPECTION_DATE', 'LOCAL_AUTHORITY', 'CONSTITUENCY', 'COUNTY',
       'LODGEMENT_DATE', 'TRANSACTION_TYPE', 'ENVIRONMENT_IMPACT_CURRENT',
       'ENVIRONMENT_IMPACT_POTENTIAL', 'ENERGY_CONSUMPTION_CURRENT',
       'ENERGY_CONSUMPTION_POTENTIAL', 'CO2_EMISSIONS_CURRENT',
       'CO2_EMISS_CURR_PER_FLOOR_AREA', 'CO2_EMISSIONS_POTENTIAL',
       'LIGHTING_COST_CURRENT', 'LIGHTING_COST_POTENTIAL',
       'HEATING_COST_CURRENT', 'HEATING_COST_POTENTIAL',
       'HOT_WATER_COST_CURRENT', 'HOT_WATER_COST_POTENTIAL',
       'TOTAL_FLOOR_AREA', 'ENERGY_TARIFF', 'MAINS_GAS_FLAG', 'FLOOR_LEVEL',
       'FLAT_TOP_STOREY', 'FLAT_STOREY_COUNT', 'MAIN_HEATING_CONTROLS',
       'MULTI_GLAZE_PROPORTION', 'GLAZED_TYPE', 'GLAZED_AREA',
       'EXTENSION_COUNT', 'NUMBER_HABITABLE_ROOMS', 'NUMBER_HEATED_ROOMS',
       'LOW_ENERGY_LIGHTING', 'NUMBER_OPEN_FIREPLACES', 'HOTWATER_DESCRIPTION',
       'HOT_WATER_ENERGY_EFF', 'HOT_WATER_ENV_EFF', 'FLOOR_DESCRIPTION',
       'FLOOR_ENERGY_EFF', 'FLOOR_ENV_EFF', 'WINDOWS_DESCRIPTION',
       'WINDOWS_ENERGY_EFF', 'WINDOWS_ENV_EFF', 'WALLS_DESCRIPTION',
       'WALLS_ENERGY_EFF', 'WALLS_ENV_EFF', 'SECONDHEAT_DESCRIPTION',
       'SHEATING_ENERGY_EFF', 'SHEATING_ENV_EFF', 'ROOF_DESCRIPTION',
       'ROOF_ENERGY_EFF', 'ROOF_ENV_EFF', 'MAINHEAT_DESCRIPTION',
       'MAINHEAT_ENERGY_EFF', 'MAINHEAT_ENV_EFF', 'MAINHEATCONT_DESCRIPTION',
       'MAINHEATC_ENERGY_EFF', 'MAINHEATC_ENV_EFF', 'LIGHTING_DESCRIPTION',
       'LIGHTING_ENERGY_EFF', 'LIGHTING_ENV_EFF', 'MAIN_FUEL',
       'WIND_TURBINE_COUNT', 'HEAT_LOSS_CORRIDOR', 'UNHEATED_CORRIDOR_LENGTH',
       'FLOOR_HEIGHT', 'PHOTO_SUPPLY', 'SOLAR_WATER_HEATING_FLAG',
       'MECHANICAL_VENTILATION', 'ADDRESS', 'LOCAL_AUTHORITY_LABEL',
       'CONSTITUENCY_LABEL', 'POSTTOWN', 'CONSTRUCTION_AGE_BAND',
       'LODGEMENT_DATETIME', 'TENURE', 'FIXED_LIGHTING_OUTLETS_COUNT',
       'LOW_ENERGY_FIXED_LIGHT_COUNT', 'UPRN', 'UPRN_SOURCE', 'REPORT_TYPE',
       'source_file'],
      dtype='object')

In [29]:
LR_combined.columns

Index(['unique_id', 'price_paid', 'deed_date', 'postcode', 'property_type',
       'new_build', 'estate_type', 'saon', 'paon', 'street', 'locality',
       'town', 'district', 'county', 'transaction_category', 'linked_data_uri',
       'source_file'],
      dtype='object')

In [30]:
valid_EPC['ADDRESS'].head()

144134                        48, Stanhope Road
144135    Flat 112 West Central, 1a, Stoke Road
144136               39a, Hencroft Street South
144137                            20, Thorndike
144138                          5, Elmwood Road
Name: ADDRESS, dtype: object

In [31]:
LR_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22349 entries, 0 to 22348
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   unique_id             22349 non-null  object
 1   price_paid            22349 non-null  int64
 2   deed_date             22349 non-null  object
 3   postcode              22349 non-null  object
 4   property_type         22349 non-null  object
 5   new_build             22349 non-null  object
 6   estate_type           22349 non-null  object
 7   saon                  484 non-null    object
 8   paon                  22349 non-null  object
 9   street                22330 non-null  object
 10  locality              6417 non-null   object
 11  town                  22349 non-null  object
 12  district              22349 non-null  object
 13  county                22349 non-null  object
 14  transaction_category  22349 non-null  object
 15  linked_data_uri       22349 non-null  object
 16  source_file           22349 non-null  object
dtypes: int64(1), object(16)
memory usage: 2.9+ MB

In [32]:
def colToStr(list_of_cols,  df):
    df[list_of_cols]= df[list_of_cols].astype(str)

In [33]:
colToStr(['paon','saon','street','postcode'], LR_combined)

In [34]:
LR_combined['combined_address'] = LR_combined[['paon','street','saon','postcode']].agg(' '.join, axis=1)
LR_combined.head()

,unique_id,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,street,locality,town,district,county,transaction_category,linked_data_uri,source_file,combined_address
0,E2D14905-119C-4C2D-E053-6B04A8C0422B,582000,2022-06-06,HP13 5AA,S,N,F,nan,49,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...,49 AMERSHAM ROAD nan HP13 5AA
1,2ACACE8C-96D3-295E-E063-4804A8C0B0EB,655000,2024-12-12,HP13 5AA,S,N,F,nan,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...,67 AMERSHAM ROAD nan HP13 5AA
2,D4D42645-4622-27F6-E053-6C04A8C0A572,560000,2021-10-28,HP13 5AA,S,N,F,nan,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...,67 AMERSHAM ROAD nan HP13 5AA
3,34222871-FD7A-4D2B-E063-4704A8C07853,375000,2025-03-31,HP13 5AB,T,N,F,nan,134,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...,134 AMERSHAM ROAD nan HP13 5AB
4,F5E8B080-E8B1-3A13-E053-6C04A8C060B7,440000,2023-01-20,HP13 5AD,S,N,F,nan,145,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...,145 AMERSHAM ROAD nan HP13 5AD

In [35]:
LR_address_cols = LR_combined[['postcode', 'saon','paon', 'street','locality', 'town','district','county']]
LR_address_cols.head()

,postcode,saon,paon,street,locality,town,district,county
0,HP13 5AA,nan,49,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE
1,HP13 5AA,nan,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE
2,HP13 5AA,nan,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE
3,HP13 5AB,nan,134,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE
4,HP13 5AD,nan,145,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE

In [36]:
valid_EPC.columns

Index(['LMK_KEY', 'ADDRESS1', 'ADDRESS2', 'ADDRESS3', 'POSTCODE',
       'BUILDING_REFERENCE_NUMBER', 'CURRENT_ENERGY_RATING',
       'POTENTIAL_ENERGY_RATING', 'CURRENT_ENERGY_EFFICIENCY',
       'POTENTIAL_ENERGY_EFFICIENCY', 'PROPERTY_TYPE', 'BUILT_FORM',
       'INSPECTION_DATE', 'LOCAL_AUTHORITY', 'CONSTITUENCY', 'COUNTY',
       'LODGEMENT_DATE', 'TRANSACTION_TYPE', 'ENVIRONMENT_IMPACT_CURRENT',
       'ENVIRONMENT_IMPACT_POTENTIAL', 'ENERGY_CONSUMPTION_CURRENT',
       'ENERGY_CONSUMPTION_POTENTIAL', 'CO2_EMISSIONS_CURRENT',
       'CO2_EMISS_CURR_PER_FLOOR_AREA', 'CO2_EMISSIONS_POTENTIAL',
       'LIGHTING_COST_CURRENT', 'LIGHTING_COST_POTENTIAL',
       'HEATING_COST_CURRENT', 'HEATING_COST_POTENTIAL',
       'HOT_WATER_COST_CURRENT', 'HOT_WATER_COST_POTENTIAL',
       'TOTAL_FLOOR_AREA', 'ENERGY_TARIFF', 'MAINS_GAS_FLAG', 'FLOOR_LEVEL',
       'FLAT_TOP_STOREY', 'FLAT_STOREY_COUNT', 'MAIN_HEATING_CONTROLS',
       'MULTI_GLAZE_PROPORTION', 'GLAZED_TYPE', 'GLAZED_AREA',
       'EXTENSION_COUNT', 'NUMBER_HABITABLE_ROOMS', 'NUMBER_HEATED_ROOMS',
       'LOW_ENERGY_LIGHTING', 'NUMBER_OPEN_FIREPLACES', 'HOTWATER_DESCRIPTION',
       'HOT_WATER_ENERGY_EFF', 'HOT_WATER_ENV_EFF', 'FLOOR_DESCRIPTION',
       'FLOOR_ENERGY_EFF', 'FLOOR_ENV_EFF', 'WINDOWS_DESCRIPTION',
       'WINDOWS_ENERGY_EFF', 'WINDOWS_ENV_EFF', 'WALLS_DESCRIPTION',
       'WALLS_ENERGY_EFF', 'WALLS_ENV_EFF', 'SECONDHEAT_DESCRIPTION',
       'SHEATING_ENERGY_EFF', 'SHEATING_ENV_EFF', 'ROOF_DESCRIPTION',
       'ROOF_ENERGY_EFF', 'ROOF_ENV_EFF', 'MAINHEAT_DESCRIPTION',
       'MAINHEAT_ENERGY_EFF', 'MAINHEAT_ENV_EFF', 'MAINHEATCONT_DESCRIPTION',
       'MAINHEATC_ENERGY_EFF', 'MAINHEATC_ENV_EFF', 'LIGHTING_DESCRIPTION',
       'LIGHTING_ENERGY_EFF', 'LIGHTING_ENV_EFF', 'MAIN_FUEL',
       'WIND_TURBINE_COUNT', 'HEAT_LOSS_CORRIDOR', 'UNHEATED_CORRIDOR_LENGTH',
       'FLOOR_HEIGHT', 'PHOTO_SUPPLY', 'SOLAR_WATER_HEATING_FLAG',
       'MECHANICAL_VENTILATION', 'ADDRESS', 'LOCAL_AUTHORITY_LABEL',
       'CONSTITUENCY_LABEL', 'POSTTOWN', 'CONSTRUCTION_AGE_BAND',
       'LODGEMENT_DATETIME', 'TENURE', 'FIXED_LIGHTING_OUTLETS_COUNT',
       'LOW_ENERGY_FIXED_LIGHT_COUNT', 'UPRN', 'UPRN_SOURCE', 'REPORT_TYPE',
       'source_file'],
      dtype='object')

In [37]:
valid_EPC[['ADDRESS', 'ADDRESS1', 'ADDRESS2', 'ADDRESS3']].head()

,ADDRESS,ADDRESS1,ADDRESS2,ADDRESS3
144134,"48, Stanhope Road","48, Stanhope Road",NaN,NaN
144135,"Flat 112 West Central, 1a, Stoke Road",Flat 112 West Central,"1a, Stoke Road",NaN
144136,"39a, Hencroft Street South","39a, Hencroft Street South",NaN,NaN
144137,"20, Thorndike","20, Thorndike",NaN,NaN
144138,"5, Elmwood Road","5, Elmwood Road",NaN,NaN

In [38]:
valid_EPC.loc[valid_EPC['ADDRESS']!= valid_EPC['ADDRESS1'], ['ADDRESS','ADDRESS1', 'ADDRESS2','ADDRESS3']]

,ADDRESS,ADDRESS1,ADDRESS2,ADDRESS3
144135,"Flat 112 West Central, 1a, Stoke Road",Flat 112 West Central,"1a, Stoke Road",NaN
144141,"4 Arlington Court, Hawtrey Close",4 Arlington Court,Hawtrey Close,NaN
144144,"Flat 65 The Pines, Forest Close, Wexham",Flat 65 The Pines,Forest Close,Wexham
144147,"Flat 6, 27, Grays Place",Flat 6,"27, Grays Place",NaN
144148,"36 The Foyer, 52 Stoke Road",36 The Foyer,52 Stoke Road,NaN
...,...,...,...,...
1303430,"High Trees, Shire Lane, Chalfont St. Peter",High Trees,Shire Lane,Chalfont St. Peter
1304184,"Nathans Barn, Chalfont Road",Nathans Barn,Chalfont Road,NaN
1308069,"Crooked Billet, Shire Lane, Chalfont St. Peter",Crooked Billet,Shire Lane,Chalfont St. Peter
1315613,"Court Cottage, Shire Lane, Chalfont St. Peter",Court Cottage,Shire Lane,Chalfont St. Peter
1329331,"Flat 1, Hill View, Shire Lane",Flat 1,Hill View,Shire Lane

In [39]:
valid_EPC.ADDRESS2.fillna('')

144134
144135     1a, Stoke Road
144136
144137
144138
                ...
1303430        Shire Lane
1304184     Chalfont Road
1308069        Shire Lane
1315613        Shire Lane
1329331        Hill View
Name: ADDRESS2, Length: 222359, dtype: object

In [40]:
valid_EPC['combined_address'] = valid_EPC[['ADDRESS', 'POSTCODE']].agg(' '.join, axis=1)
valid_EPC.head()

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_9116/947810106.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_EPC['combined_address'] = valid_EPC[['ADDRESS', 'POSTCODE']].agg(' '.join, axis=1)

,LMK_KEY,ADDRESS1,ADDRESS2,ADDRESS3,POSTCODE,BUILDING_REFERENCE_NUMBER,CURRENT_ENERGY_RATING,POTENTIAL_ENERGY_RATING,CURRENT_ENERGY_EFFICIENCY,POTENTIAL_ENERGY_EFFICIENCY,...,CONSTRUCTION_AGE_BAND,LODGEMENT_DATETIME,TENURE,FIXED_LIGHTING_OUTLETS_COUNT,LOW_ENERGY_FIXED_LIGHT_COUNT,UPRN,UPRN_SOURCE,REPORT_TYPE,source_file,combined_address
144134,210776721852020070208271224000054,"48, Stanhope Road",NaN,NaN,SL1 6JS,487146568,D,B,56,84,...,England and Wales: 1930-1949,2020-07-02 08:27:12,rental (private),NaN,NaN,1.000803e+11,Address Matched,100,data-epc/domestic-E06000039-Slough/certificate...,"48, Stanhope Road SL1 6JS"
144135,1326681509222015052912541786218345,Flat 112 West Central,"1a, Stoke Road",NaN,SL2 5PF,4881046378,C,C,77,77,...,NO DATA!,2015-05-29 12:54:17,unknown,10.0,10.0,1.009077e+10,Address Matched,101,data-epc/domestic-E06000039-Slough/certificate...,"Flat 112 West Central, 1a, Stoke Road SL2 5PF"
144136,962080069842014120417254410040148,"39a, Hencroft Street South",NaN,NaN,SL1 1RF,3825360178,D,C,60,78,...,England and Wales: 1900-1929,2014-12-04 17:25:44,rental (private),7.0,5.0,1.000803e+11,Address Matched,100,data-epc/domestic-E06000039-Slough/certificate...,"39a, Hencroft Street South SL1 1RF"
144137,1132980469202014051311353821240768,"20, Thorndike",NaN,NaN,SL2 1SR,9294862278,D,B,63,87,...,England and Wales: 1950-1966,2014-05-13 11:35:38,owner-occupied,12.0,7.0,1.000803e+11,Address Matched,100,data-epc/domestic-E06000039-Slough/certificate...,"20, Thorndike SL2 1SR"
144138,225287962132009020314541192068601,"5, Elmwood Road",NaN,NaN,SL2 5QQ,6162637568,E,C,48,74,...,England and Wales: 1930-1949,2009-02-03 14:54:11,owner-occupied,NaN,NaN,1.000803e+11,Address Matched,100,data-epc/domestic-E06000039-Slough/certificate...,"5, Elmwood Road SL2 5QQ"

In [41]:
LR_combined['ADDRESS_V1'] = LR_combined[['paon','street','postcode']].agg(' '.join, axis=1)
LR_combined.head()

,unique_id,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,street,locality,town,district,county,transaction_category,linked_data_uri,source_file,combined_address,ADDRESS_V1
0,E2D14905-119C-4C2D-E053-6B04A8C0422B,582000,2022-06-06,HP13 5AA,S,N,F,nan,49,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...,49 AMERSHAM ROAD nan HP13 5AA,49 AMERSHAM ROAD HP13 5AA
1,2ACACE8C-96D3-295E-E063-4804A8C0B0EB,655000,2024-12-12,HP13 5AA,S,N,F,nan,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...,67 AMERSHAM ROAD nan HP13 5AA,67 AMERSHAM ROAD HP13 5AA
2,D4D42645-4622-27F6-E053-6C04A8C0A572,560000,2021-10-28,HP13 5AA,S,N,F,nan,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...,67 AMERSHAM ROAD nan HP13 5AA,67 AMERSHAM ROAD HP13 5AA
3,34222871-FD7A-4D2B-E063-4704A8C07853,375000,2025-03-31,HP13 5AB,T,N,F,nan,134,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...,134 AMERSHAM ROAD nan HP13 5AB,134 AMERSHAM ROAD HP13 5AB
4,F5E8B080-E8B1-3A13-E053-6C04A8C060B7,440000,2023-01-20,HP13 5AD,S,N,F,nan,145,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...,145 AMERSHAM ROAD nan HP13 5AD,145 AMERSHAM ROAD HP13 5AD

In [42]:
# Attempting a merge now the combined columns are done

merged = LR_combined.merge(valid_EPC,on='combined_address', how='left',indicator=True) #indicator to show merge status! 

print(merged['_merge'].value_counts())

_merge
left_only     22349
right_only        0
both              0
Name: count, dtype: int64

In [43]:
!pip install rapidfuzz

Requirement already satisfied: rapidfuzz in /opt/anaconda3/lib/python3.12/site-packages (3.14.3)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [44]:
from rapidfuzz import fuzz, process

In [45]:
LR_combined['combined_address'] = LR_combined['combined_address'].str.lower()
valid_EPC['combined_address'] = valid_EPC['combined_address'].str.lower()

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_9116/1896803352.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_EPC['combined_address'] = valid_EPC['combined_address'].str.lower()

In [46]:
LR_combined['combined_address'] = LR_combined['combined_address'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)

LR_combined['combined_address'] = LR_combined['combined_address'].str.replace(r'\s+', ' ', regex=True).str.strip()

In [47]:
LR_combined.combined_address

0             49 amersham road nan hp13 5aa
1             67 amersham road nan hp13 5aa
2             67 amersham road nan hp13 5aa
3            134 amersham road nan hp13 5ab
4            145 amersham road nan hp13 5ad
                        ...
22344    glentorp halfacre hill nan sl9 9ud
22345            1 linden drive nan sl9 9up
22346            5 linden drive nan sl9 9up
22347           11 linden drive nan sl9 9up
22348           12 linden drive nan sl9 9up
Name: combined_address, Length: 22349, dtype: object

In [48]:
LR_combined.shape

(22349, 19)

In [49]:
valid_EPC['combined_address'] = valid_EPC['combined_address'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)

#
valid_EPC['combined_address'] = valid_EPC['combined_address'].str.replace(r'\s+', ' ', regex=True).str.strip()

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_9116/201423290.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_EPC['combined_address'] = valid_EPC['combined_address'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_9116/201423290.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_EPC['combined_address'] = valid_EPC['combined_address'].str.replace(r'\s+', ' ', regex=True).str.strip()

In [50]:
right_addresses = valid_EPC['combined_address'].unique().tolist()

# Fuzzy Match operation
def fuzzy_merge_row(address, threshold=80):
    match = process.extractOne(address, right_addresses, scorer=fuzz.ratio)
    if match and match[1] >= threshold:
        return match[0], match[1] # Returning the address and score
    return None

LR_combined[['fuzzy_match', 'match_confidence']] = LR_combined['combined_address'].apply(
    lambda x: pd.Series(fuzzy_merge_row(x))
    )

# Now merging 

result = LR_combined.merge(valid_EPC, left_on='fuzzy_match',right_on='combined_address',how='left', indicator=True)

In [51]:
result['_merge'].value_counts()

_merge
both          29168
left_only      1852
right_only        0
Name: count, dtype: int64

In [52]:
result.loc[result['match_confidence']<90].shape

(6571, 117)

In [53]:
result.loc[result['match_confidence']<85].to_csv('low_conf_match.csv')

In [54]:
# Checking EPC data for a record
valid_EPC['combined_address'].loc[valid_EPC['POSTCODE'] == 'HP13 5DA']

478719    14 park view crescent coates lane hp13 5da
479202     8 park view crescent coates lane hp13 5da
483225    17 park view crescent coates lane hp13 5da
484093    15 park view crescent coates lane hp13 5da
487321     5 park view crescent coates lane hp13 5da
488076     5 park view crescent coates lane hp13 5da
492416     4 park view crescent coates lane hp13 5da
498644    12 park view crescent coates lane hp13 5da
499909     2 park view crescent coates lane hp13 5da
503465    16 park view crescent coates lane hp13 5da
509449     7 park view crescent coates lane hp13 5da
511496    11 park view crescent coates lane hp13 5da
512287     6 park view crescent coates lane hp13 5da
512736     1 park view crescent coates lane hp13 5da
515122    10 park view crescent coates lane hp13 5da
517947     9 park view crescent coates lane hp13 5da
522091     3 park view crescent coates lane hp13 5da
662822     6 park view crescent coates lane hp13 5da
666570     7 park view crescent coates lane hp13 5da
667809    14 park view crescent coates lane hp13 5da
675240    10 park view crescent coates lane hp13 5da
Name: combined_address, dtype: object

In [55]:
LR_combined.head(n=100).to_csv('sample_lr.csv')

In [ ]:
LR_combined['combined_address'].unique()

<bound method Series.unique of 0             49 amersham road nan hp13 5aa
1             67 amersham road nan hp13 5aa
2             67 amersham road nan hp13 5aa
3            134 amersham road nan hp13 5ab
4            145 amersham road nan hp13 5ad
                        ...
22344    glentorp halfacre hill nan sl9 9ud
22345            1 linden drive nan sl9 9up
22346            5 linden drive nan sl9 9up
22347           11 linden drive nan sl9 9up
22348           12 linden drive nan sl9 9up
Name: combined_address, Length: 22349, dtype: object>

In [ ]:
valid_EPC['combined_address'].unique()

<bound method Series.unique of 144134                              48 stanhope road sl1 6js
144135           flat 112 west central 1a stoke road sl2 5pf
144136                     39a hencroft street south sl1 1rf
144137                                  20 thorndike sl2 1sr
144138                                5 elmwood road sl2 5qq
                                 ...
1303430      high trees shire lane chalfont st peter sl9 0qy
1304184                   nathans barn chalfont road hp8 4bt
1308069    crooked billet shire lane chalfont st peter sl...
1315613    court cottage shire lane chalfont st peter sl9...
1329331                  flat 1 hill view shire lane sl9 0qy
Name: combined_address, Length: 222359, dtype: object>

In [60]:
result.shape

(31020, 117)

In [62]:
result.to_csv('data_output/merged_unclean.csv')