In [282]:
import pandas as pd

In [283]:
merged = pd.read_csv('data_output/merged_unclean.csv')
merged.head()

,Unnamed: 0,unique_id,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,...,LODGEMENT_DATETIME,TENURE,FIXED_LIGHTING_OUTLETS_COUNT,LOW_ENERGY_FIXED_LIGHT_COUNT,UPRN,UPRN_SOURCE,REPORT_TYPE,source_file_y,combined_address_y,_merge
0,0,E2D14905-119C-4C2D-E053-6B04A8C0422B,582000,2022-06-06,HP13 5AA,S,N,F,NaN,49,...,2018-03-19 08:31:10,owner-occupied,NaN,NaN,1.000805e+11,Address Matched,100.0,data-epc/domestic-E07000007-Wycombe/certificat...,49 amersham road hp13 5aa,both
1,1,E2D14905-119C-4C2D-E053-6B04A8C0422B,582000,2022-06-06,HP13 5AA,S,N,F,NaN,49,...,2018-03-20 08:41:24,owner-occupied,NaN,NaN,1.000805e+11,Address Matched,100.0,data-epc/domestic-E07000007-Wycombe/certificat...,49 amersham road hp13 5aa,both
2,2,E2D14905-119C-4C2D-E053-6B04A8C0422B,582000,2022-06-06,HP13 5AA,S,N,F,NaN,49,...,2010-03-11 15:33:11,owner-occupied,NaN,NaN,1.000805e+11,Address Matched,100.0,data-epc/domestic-E07000007-Wycombe/certificat...,49 amersham road hp13 5aa,both
3,3,E2D14905-119C-4C2D-E053-6B04A8C0422B,582000,2022-06-06,HP13 5AA,S,N,F,NaN,49,...,2010-03-11 15:17:43,owner-occupied,NaN,NaN,1.000805e+11,Address Matched,100.0,data-epc/domestic-E07000007-Wycombe/certificat...,49 amersham road hp13 5aa,both
4,4,2ACACE8C-96D3-295E-E063-4804A8C0B0EB,655000,2024-12-12,HP13 5AA,S,N,F,NaN,67,...,2023-11-09 12:07:28,Owner-occupied,23.0,NaN,1.000805e+11,Energy Assessor,100.0,data-epc/domestic-E06000060-Buckinghamshire/ce...,67a amersham road hp13 5aa,both

In [284]:
col = '_merge'
print(merged[col])

0        both
1        both
2        both
3        both
4        both
         ...
31015    both
31016    both
31017    both
31018    both
31019    both
Name: _merge, Length: 31020, dtype: object

In [285]:
merged[col].value_counts()

_merge
both         29168
left_only     1852
Name: count, dtype: int64

In [286]:
drop_cols = ['Unnamed: 0',
             'unique_id', 
             'new_build',
             'estate_type',
             'saon', 
             'paon',
             'street',
             'transaction_category',
             'linked_data_uri',
             'source_file_x',
             'ADDRESS_V1',
             'LMK_KEY',
             'ADDRESS',
             'ADDRESS1',
             'ADDRESS2',
             'ADDRESS3',
             'POSTCODE',
             'LODGEMENT_DATE',
             'TRANSACTION_TYPE',
             'FLOOR_LEVEL',
             'FLAT_TOP_STOREY',
             'FLAT_STOREY_COUNT',
             'GLAZED_TYPE',
             'SHEATING_ENERGY_EFF',
             'SHEATING_ENV_EFF',
             'ROOF_ENV_EFF',
             'MAINHEAT_ENV_EFF',
             'MAINHEATC_ENV_EFF',
             'LIGHTING_ENV_EFF',
             'MAIN_FUEL',
             'WIND_TURBINE_COUNT',
             'HEAT_LOSS_CORRIDOR',
             'LOCAL_AUTHORITY_LABEL',
             'CONSTITUENCY_LABEL',
             'POSTTOWN',
             'LODGEMENT_DATETIME',
             'UPRN',
             'UPRN_SOURCE',
             'REPORT_TYPE',
             'source_file_y',
             'postcode'
             ]

In [287]:
qualified_features = merged.drop(columns=drop_cols)

drop_count = merged.shape[1] - qualified_features.shape[1]

print(f'After the initial data clean, there were {drop_count} columns that were removed. \nNow there are {qualified_features.shape[1]} columns to consider. ')

After the initial data clean, there were 41 columns that were removed.
Now there are 77 columns to consider.

In [288]:
for col in qualified_features.columns:
    print(col)

price_paid
deed_date
property_type
locality
town
district
county
combined_address_x
fuzzy_match
match_confidence
BUILDING_REFERENCE_NUMBER
CURRENT_ENERGY_RATING
POTENTIAL_ENERGY_RATING
CURRENT_ENERGY_EFFICIENCY
POTENTIAL_ENERGY_EFFICIENCY
PROPERTY_TYPE
BUILT_FORM
INSPECTION_DATE
LOCAL_AUTHORITY
CONSTITUENCY
COUNTY
ENVIRONMENT_IMPACT_CURRENT
ENVIRONMENT_IMPACT_POTENTIAL
ENERGY_CONSUMPTION_CURRENT
ENERGY_CONSUMPTION_POTENTIAL
CO2_EMISSIONS_CURRENT
CO2_EMISS_CURR_PER_FLOOR_AREA
CO2_EMISSIONS_POTENTIAL
LIGHTING_COST_CURRENT
LIGHTING_COST_POTENTIAL
HEATING_COST_CURRENT
HEATING_COST_POTENTIAL
HOT_WATER_COST_CURRENT
HOT_WATER_COST_POTENTIAL
TOTAL_FLOOR_AREA
ENERGY_TARIFF
MAINS_GAS_FLAG
MAIN_HEATING_CONTROLS
MULTI_GLAZE_PROPORTION
GLAZED_AREA
EXTENSION_COUNT
NUMBER_HABITABLE_ROOMS
NUMBER_HEATED_ROOMS
LOW_ENERGY_LIGHTING
NUMBER_OPEN_FIREPLACES
HOTWATER_DESCRIPTION
HOT_WATER_ENERGY_EFF
HOT_WATER_ENV_EFF
FLOOR_DESCRIPTION
FLOOR_ENERGY_EFF
FLOOR_ENV_EFF
WINDOWS_DESCRIPTION
WINDOWS_ENERGY_EFF
WINDOWS_ENV_EFF
WALLS_DESCRIPTION
WALLS_ENERGY_EFF
WALLS_ENV_EFF
SECONDHEAT_DESCRIPTION
ROOF_DESCRIPTION
ROOF_ENERGY_EFF
MAINHEAT_DESCRIPTION
MAINHEAT_ENERGY_EFF
MAINHEATCONT_DESCRIPTION
MAINHEATC_ENERGY_EFF
LIGHTING_DESCRIPTION
LIGHTING_ENERGY_EFF
UNHEATED_CORRIDOR_LENGTH
FLOOR_HEIGHT
PHOTO_SUPPLY
SOLAR_WATER_HEATING_FLAG
MECHANICAL_VENTILATION
CONSTRUCTION_AGE_BAND
TENURE
FIXED_LIGHTING_OUTLETS_COUNT
LOW_ENERGY_FIXED_LIGHT_COUNT
combined_address_y
_merge

In [289]:
qualified_features.to_csv('data_output/qualified_feature_level1.csv')

# Level 2 - Feature Engineering

In [290]:
start = qualified_features
start.head()

,price_paid,deed_date,property_type,locality,town,district,county,combined_address_x,fuzzy_match,match_confidence,...,FLOOR_HEIGHT,PHOTO_SUPPLY,SOLAR_WATER_HEATING_FLAG,MECHANICAL_VENTILATION,CONSTRUCTION_AGE_BAND,TENURE,FIXED_LIGHTING_OUTLETS_COUNT,LOW_ENERGY_FIXED_LIGHT_COUNT,combined_address_y,_merge
0,582000,2022-06-06,S,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,49 amersham road nan hp13 5aa,49 amersham road hp13 5aa,92.592593,...,NaN,NaN,N,natural,England and Wales: 1900-1929,owner-occupied,NaN,NaN,49 amersham road hp13 5aa,both
1,582000,2022-06-06,S,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,49 amersham road nan hp13 5aa,49 amersham road hp13 5aa,92.592593,...,NaN,NaN,N,natural,England and Wales: 1900-1929,owner-occupied,NaN,NaN,49 amersham road hp13 5aa,both
2,582000,2022-06-06,S,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,49 amersham road nan hp13 5aa,49 amersham road hp13 5aa,92.592593,...,2.40,0.0,N,natural,England and Wales: 1900-1929,owner-occupied,NaN,NaN,49 amersham road hp13 5aa,both
3,582000,2022-06-06,S,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,49 amersham road nan hp13 5aa,49 amersham road hp13 5aa,92.592593,...,2.40,0.0,N,natural,England and Wales: 1900-1929,owner-occupied,NaN,NaN,49 amersham road hp13 5aa,both
4,655000,2024-12-12,S,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,67 amersham road nan hp13 5aa,67a amersham road hp13 5aa,90.909091,...,2.46,0.0,N,natural,England and Wales: 1930-1949,Owner-occupied,23.0,NaN,67a amersham road hp13 5aa,both

In [291]:
# Visualising each candidate column.
for col in start.columns:
    print(f'Column: {col} -> Sample: {start[col][0]}')

Column: price_paid -> Sample: 582000
Column: deed_date -> Sample: 2022-06-06
Column: property_type -> Sample: S
Column: locality -> Sample: nan
Column: town -> Sample: HIGH WYCOMBE
Column: district -> Sample: BUCKINGHAMSHIRE
Column: county -> Sample: BUCKINGHAMSHIRE
Column: combined_address_x -> Sample: 49 amersham road nan hp13 5aa
Column: fuzzy_match -> Sample: 49 amersham road hp13 5aa
Column: match_confidence -> Sample: 92.5925925925926
Column: BUILDING_REFERENCE_NUMBER -> Sample: 5175796468.0
Column: CURRENT_ENERGY_RATING -> Sample: D
Column: POTENTIAL_ENERGY_RATING -> Sample: B
Column: CURRENT_ENERGY_EFFICIENCY -> Sample: 57.0
Column: POTENTIAL_ENERGY_EFFICIENCY -> Sample: 84.0
Column: PROPERTY_TYPE -> Sample: House
Column: BUILT_FORM -> Sample: Semi-Detached
Column: INSPECTION_DATE -> Sample: 2018-03-16
Column: LOCAL_AUTHORITY -> Sample: E07000007
Column: CONSTITUENCY -> Sample: E14001056
Column: COUNTY -> Sample: Buckinghamshire
Column: ENVIRONMENT_IMPACT_CURRENT -> Sample: 48.0
Column: ENVIRONMENT_IMPACT_POTENTIAL -> Sample: 81.0
Column: ENERGY_CONSUMPTION_CURRENT -> Sample: 279.0
Column: ENERGY_CONSUMPTION_POTENTIAL -> Sample: 88.0
Column: CO2_EMISSIONS_CURRENT -> Sample: 6.3
Column: CO2_EMISS_CURR_PER_FLOOR_AREA -> Sample: 49.0
Column: CO2_EMISSIONS_POTENTIAL -> Sample: 2.0
Column: LIGHTING_COST_CURRENT -> Sample: 96.0
Column: LIGHTING_COST_POTENTIAL -> Sample: 77.0
Column: HEATING_COST_CURRENT -> Sample: 1067.0
Column: HEATING_COST_POTENTIAL -> Sample: 520.0
Column: HOT_WATER_COST_CURRENT -> Sample: 148.0
Column: HOT_WATER_COST_POTENTIAL -> Sample: 90.0
Column: TOTAL_FLOOR_AREA -> Sample: 129.0
Column: ENERGY_TARIFF -> Sample: Single
Column: MAINS_GAS_FLAG -> Sample: Y
Column: MAIN_HEATING_CONTROLS -> Sample: 2106.0
Column: MULTI_GLAZE_PROPORTION -> Sample: 10.0
Column: GLAZED_AREA -> Sample: Normal
Column: EXTENSION_COUNT -> Sample: 0.0
Column: NUMBER_HABITABLE_ROOMS -> Sample: 6.0
Column: NUMBER_HEATED_ROOMS -> Sample: 6.0
Column: LOW_ENERGY_LIGHTING -> Sample: 73.0
Column: NUMBER_OPEN_FIREPLACES -> Sample: 0.0
Column: HOTWATER_DESCRIPTION -> Sample: From main system
Column: HOT_WATER_ENERGY_EFF -> Sample: Good
Column: HOT_WATER_ENV_EFF -> Sample: Good
Column: FLOOR_DESCRIPTION -> Sample: Suspended, no insulation (assumed)
Column: FLOOR_ENERGY_EFF -> Sample: NO DATA!
Column: FLOOR_ENV_EFF -> Sample: nan
Column: WINDOWS_DESCRIPTION -> Sample: Some double glazing
Column: WINDOWS_ENERGY_EFF -> Sample: Very Poor
Column: WINDOWS_ENV_EFF -> Sample: Very Poor
Column: WALLS_DESCRIPTION -> Sample: Solid brick, as built, no insulation (assumed)
Column: WALLS_ENERGY_EFF -> Sample: Very Poor
Column: WALLS_ENV_EFF -> Sample: Very Poor
Column: SECONDHEAT_DESCRIPTION -> Sample: nan
Column: ROOF_DESCRIPTION -> Sample: Pitched, 100 mm loft insulation
Column: ROOF_ENERGY_EFF -> Sample: Average
Column: MAINHEAT_DESCRIPTION -> Sample: Boiler and radiators, mains gas
Column: MAINHEAT_ENERGY_EFF -> Sample: Good
Column: MAINHEATCONT_DESCRIPTION -> Sample: Programmer, room thermostat and TRVs
Column: MAINHEATC_ENERGY_EFF -> Sample: Good
Column: LIGHTING_DESCRIPTION -> Sample: Low energy lighting in 73% of fixed outlets
Column: LIGHTING_ENERGY_EFF -> Sample: Very Good
Column: UNHEATED_CORRIDOR_LENGTH -> Sample: nan
Column: FLOOR_HEIGHT -> Sample: nan
Column: PHOTO_SUPPLY -> Sample: nan
Column: SOLAR_WATER_HEATING_FLAG -> Sample: N
Column: MECHANICAL_VENTILATION -> Sample: natural
Column: CONSTRUCTION_AGE_BAND -> Sample: England and Wales: 1900-1929
Column: TENURE -> Sample: owner-occupied
Column: FIXED_LIGHTING_OUTLETS_COUNT -> Sample: nan
Column: LOW_ENERGY_FIXED_LIGHT_COUNT -> Sample: nan
Column: combined_address_y -> Sample: 49 amersham road hp13 5aa
Column: _merge -> Sample: both

In [292]:
# NA Counts
na_count = start.isna().sum().reset_index()
na_count.loc[na_count[0] != 0]

                           index      0
3                       locality  22704
8                    fuzzy_match   1852
9               match_confidence   1852
10     BUILDING_REFERENCE_NUMBER   1852
11         CURRENT_ENERGY_RATING   1852
..                           ...    ...
71         CONSTRUCTION_AGE_BAND   1956
72                        TENURE   2122
73  FIXED_LIGHTING_OUTLETS_COUNT  14218
74  LOW_ENERGY_FIXED_LIGHT_COUNT  24726
75            combined_address_y   1852

[69 rows x 2 columns]

In [293]:
# Dropping columns with NA values above threshold.

na_threshold = 15 #percentage
print(f'Before dropping columns with above {na_threshold}% NA values, there are {len(start.columns)}.\n***')

total_rows = start.shape[0]
dropped_columns = []

for col in start.columns:
    col_na = start[col].isna().sum()
    if (col_na/total_rows*100)>na_threshold:
        print(col,total_rows, col_na/total_rows*100)
        start = start.drop(columns=col)
        dropped_columns.append(col)
        
print(f'***\nAfter dropping columns with NA values above {na_threshold}% there are now {len(start.columns)} columns.')
print(f'Columns dropped were: {drop_cols}')

Before dropping columns with above 15% NA values, there are 77.
***
locality 31020 73.19148936170212
COUNTY 31020 72.17601547388782
MAIN_HEATING_CONTROLS 31020 44.829142488716954
FLOOR_ENERGY_EFF 31020 67.3597678916828
FLOOR_ENV_EFF 31020 95.43842682140554
SECONDHEAT_DESCRIPTION 31020 60.40941328175371
UNHEATED_CORRIDOR_LENGTH 31020 99.75499677627337
FLOOR_HEIGHT 31020 46.47324306898775
PHOTO_SUPPLY 31020 39.17472598323662
SOLAR_WATER_HEATING_FLAG 31020 26.099290780141843
FIXED_LIGHTING_OUTLETS_COUNT 31020 45.834945196647325
LOW_ENERGY_FIXED_LIGHT_COUNT 31020 79.70986460348163
***
After dropping columns with NA values above 15% there are now 65 columns.
Columns dropped were: ['Unnamed: 0', 'unique_id', 'new_build', 'estate_type', 'saon', 'paon', 'street', 'transaction_category', 'linked_data_uri', 'source_file_x', 'ADDRESS_V1', 'LMK_KEY', 'ADDRESS', 'ADDRESS1', 'ADDRESS2', 'ADDRESS3', 'POSTCODE', 'LODGEMENT_DATE', 'TRANSACTION_TYPE', 'FLOOR_LEVEL', 'FLAT_TOP_STOREY', 'FLAT_STOREY_COUNT', 'GLAZED_TYPE', 'SHEATING_ENERGY_EFF', 'SHEATING_ENV_EFF', 'ROOF_ENV_EFF', 'MAINHEAT_ENV_EFF', 'MAINHEATC_ENV_EFF', 'LIGHTING_ENV_EFF', 'MAIN_FUEL', 'WIND_TURBINE_COUNT', 'HEAT_LOSS_CORRIDOR', 'LOCAL_AUTHORITY_LABEL', 'CONSTITUENCY_LABEL', 'POSTTOWN', 'LODGEMENT_DATETIME', 'UPRN', 'UPRN_SOURCE', 'REPORT_TYPE', 'source_file_y', 'postcode']

In [294]:
# Visualising each candidate column.
count = 0

for col in start.columns:
    count += 1
    print(f'Column: {col} -> Sample: {start[col][0]} -> Dtype: {start[col].dtype} ')

print(f'***Number of columns: {count}')

Column: price_paid -> Sample: 582000 -> Dtype: int64
Column: deed_date -> Sample: 2022-06-06 -> Dtype: object
Column: property_type -> Sample: S -> Dtype: object
Column: town -> Sample: HIGH WYCOMBE -> Dtype: object
Column: district -> Sample: BUCKINGHAMSHIRE -> Dtype: object
Column: county -> Sample: BUCKINGHAMSHIRE -> Dtype: object
Column: combined_address_x -> Sample: 49 amersham road nan hp13 5aa -> Dtype: object
Column: fuzzy_match -> Sample: 49 amersham road hp13 5aa -> Dtype: object
Column: match_confidence -> Sample: 92.5925925925926 -> Dtype: float64
Column: BUILDING_REFERENCE_NUMBER -> Sample: 5175796468.0 -> Dtype: float64
Column: CURRENT_ENERGY_RATING -> Sample: D -> Dtype: object
Column: POTENTIAL_ENERGY_RATING -> Sample: B -> Dtype: object
Column: CURRENT_ENERGY_EFFICIENCY -> Sample: 57.0 -> Dtype: float64
Column: POTENTIAL_ENERGY_EFFICIENCY -> Sample: 84.0 -> Dtype: float64
Column: PROPERTY_TYPE -> Sample: House -> Dtype: object
Column: BUILT_FORM -> Sample: Semi-Detached -> Dtype: object
Column: INSPECTION_DATE -> Sample: 2018-03-16 -> Dtype: object
Column: LOCAL_AUTHORITY -> Sample: E07000007 -> Dtype: object
Column: CONSTITUENCY -> Sample: E14001056 -> Dtype: object
Column: ENVIRONMENT_IMPACT_CURRENT -> Sample: 48.0 -> Dtype: float64
Column: ENVIRONMENT_IMPACT_POTENTIAL -> Sample: 81.0 -> Dtype: float64
Column: ENERGY_CONSUMPTION_CURRENT -> Sample: 279.0 -> Dtype: float64
Column: ENERGY_CONSUMPTION_POTENTIAL -> Sample: 88.0 -> Dtype: float64
Column: CO2_EMISSIONS_CURRENT -> Sample: 6.3 -> Dtype: float64
Column: CO2_EMISS_CURR_PER_FLOOR_AREA -> Sample: 49.0 -> Dtype: float64
Column: CO2_EMISSIONS_POTENTIAL -> Sample: 2.0 -> Dtype: float64
Column: LIGHTING_COST_CURRENT -> Sample: 96.0 -> Dtype: float64
Column: LIGHTING_COST_POTENTIAL -> Sample: 77.0 -> Dtype: float64
Column: HEATING_COST_CURRENT -> Sample: 1067.0 -> Dtype: float64
Column: HEATING_COST_POTENTIAL -> Sample: 520.0 -> Dtype: float64
Column: HOT_WATER_COST_CURRENT -> Sample: 148.0 -> Dtype: float64
Column: HOT_WATER_COST_POTENTIAL -> Sample: 90.0 -> Dtype: float64
Column: TOTAL_FLOOR_AREA -> Sample: 129.0 -> Dtype: float64
Column: ENERGY_TARIFF -> Sample: Single -> Dtype: object
Column: MAINS_GAS_FLAG -> Sample: Y -> Dtype: object
Column: MULTI_GLAZE_PROPORTION -> Sample: 10.0 -> Dtype: float64
Column: GLAZED_AREA -> Sample: Normal -> Dtype: object
Column: EXTENSION_COUNT -> Sample: 0.0 -> Dtype: float64
Column: NUMBER_HABITABLE_ROOMS -> Sample: 6.0 -> Dtype: float64
Column: NUMBER_HEATED_ROOMS -> Sample: 6.0 -> Dtype: float64
Column: LOW_ENERGY_LIGHTING -> Sample: 73.0 -> Dtype: float64
Column: NUMBER_OPEN_FIREPLACES -> Sample: 0.0 -> Dtype: float64
Column: HOTWATER_DESCRIPTION -> Sample: From main system -> Dtype: object
Column: HOT_WATER_ENERGY_EFF -> Sample: Good -> Dtype: object
Column: HOT_WATER_ENV_EFF -> Sample: Good -> Dtype: object
Column: FLOOR_DESCRIPTION -> Sample: Suspended, no insulation (assumed) -> Dtype: object
Column: WINDOWS_DESCRIPTION -> Sample: Some double glazing -> Dtype: object
Column: WINDOWS_ENERGY_EFF -> Sample: Very Poor -> Dtype: object
Column: WINDOWS_ENV_EFF -> Sample: Very Poor -> Dtype: object
Column: WALLS_DESCRIPTION -> Sample: Solid brick, as built, no insulation (assumed) -> Dtype: object
Column: WALLS_ENERGY_EFF -> Sample: Very Poor -> Dtype: object
Column: WALLS_ENV_EFF -> Sample: Very Poor -> Dtype: object
Column: ROOF_DESCRIPTION -> Sample: Pitched, 100 mm loft insulation -> Dtype: object
Column: ROOF_ENERGY_EFF -> Sample: Average -> Dtype: object
Column: MAINHEAT_DESCRIPTION -> Sample: Boiler and radiators, mains gas -> Dtype: object
Column: MAINHEAT_ENERGY_EFF -> Sample: Good -> Dtype: object
Column: MAINHEATCONT_DESCRIPTION -> Sample: Programmer, room thermostat and TRVs -> Dtype: object
Column: MAINHEATC_ENERGY_EFF -> Sample: Good -> Dtype: object
Column: LIGHTING_DESCRIPTION -> Sample: Low energy lighting in 73% of fixed outlets -> Dtype: object
Column: LIGHTING_ENERGY_EFF -> Sample: Very Good -> Dtype: object
Column: MECHANICAL_VENTILATION -> Sample: natural -> Dtype: object
Column: CONSTRUCTION_AGE_BAND -> Sample: England and Wales: 1900-1929 -> Dtype: object
Column: TENURE -> Sample: owner-occupied -> Dtype: object
Column: combined_address_y -> Sample: 49 amersham road hp13 5aa -> Dtype: object
Column: _merge -> Sample: both -> Dtype: object
***Number of columns: 65

In [295]:
# Converting datetime columns
date_cols = ['deed_date', 'INSPECTION_DATE']

for col in date_cols:
    start[col] = pd.to_datetime(start[col])

In [296]:
# Filling NAs - str cols
str_cols = start.select_dtypes(include='object').columns
start[str_cols] = start[str_cols].fillna('Not Available')

num_cols = start.select_dtypes(include=['int64','float64']).columns
for col in num_cols:
    start[col] = start[col].fillna(start[col].mean())

In [297]:
# NA Counts
na_count = start.isna().sum().reset_index()
na_count.loc[na_count[0] != 0].sort_values([0], ascending=False)

              index     0
16  INSPECTION_DATE  1852

In [298]:
# Datetime NA Values
dt_na_count = start['INSPECTION_DATE'].isna().sum()
print(f'There are {dt_na_count} records with na values for inspection date. \nThis is {dt_na_count/start.shape[0]*100}% of records.')

There are 1852 records with na values for inspection date.
This is 5.970341715022566% of records.

As the inspection date is an indication of "staleness" for the record and this is only under 6%, these records will be removed.

In [299]:
start = start.dropna(subset=['INSPECTION_DATE'])