# Working Out Schema

In [24]:
!pip install tableschema

Requirement already satisfied: tableschema in /opt/anaconda3/lib/python3.12/site-packages (1.21.0)
Requirement already satisfied: six>=1.9 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (1.16.0)
Requirement already satisfied: click>=3.3 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (8.1.7)
Requirement already satisfied: requests>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (2.32.3)
Requirement already satisfied: cached-property>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (2.0.1)
Requirement already satisfied: python-dateutil>=2.4 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (2.9.0.post0)
Requirement already satisfied: jsonschema>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (4.23.0)
Requirement already satisfied: unicodecsv>=0.14 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (0.14.1)
Requirement already satisfied: isodate>=0.5.4 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (0.7.2)
Requirement already satisfied: rfc3986>=1.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (2.0.0)
Requirement already satisfied: dataflows-tabulator>=1.54.1 in /opt/anaconda3/lib/python3.12/site-packages (from tableschema) (1.54.3)
Requirement already satisfied: chardet>=3.0 in /opt/anaconda3/lib/python3.12/site-packages (from dataflows-tabulator>=1.54.1->tableschema) (4.0.0)
Requirement already satisfied: boto3>=1.9 in /opt/anaconda3/lib/python3.12/site-packages (from dataflows-tabulator>=1.54.1->tableschema) (1.41.5)
Requirement already satisfied: ijson>=3.0.3 in /opt/anaconda3/lib/python3.12/site-packages (from dataflows-tabulator>=1.54.1->tableschema) (3.4.0.post0)
Requirement already satisfied: jsonlines>=1.1 in /opt/anaconda3/lib/python3.12/site-packages (from dataflows-tabulator>=1.54.1->tableschema) (4.0.0)
Requirement already satisfied: sqlalchemy>=0.9.6 in /opt/anaconda3/lib/python3.12/site-packages (from dataflows-tabulator>=1.54.1->tableschema) (2.0.34)
Requirement already satisfied: linear-tsv>=1.0 in /opt/anaconda3/lib/python3.12/site-packages (from dataflows-tabulator>=1.54.1->tableschema) (1.1.0)
Requirement already satisfied: xlrd>=1.0 in /opt/anaconda3/lib/python3.12/site-packages (from dataflows-tabulator>=1.54.1->tableschema) (2.0.2)
Requirement already satisfied: openpyxl>=2.6 in /opt/anaconda3/lib/python3.12/site-packages (from dataflows-tabulator>=1.54.1->tableschema) (3.1.5)
Requirement already satisfied: botocore<1.42.0,>=1.41.5 in /opt/anaconda3/lib/python3.12/site-packages (from boto3>=1.9->dataflows-tabulator>=1.54.1->tableschema) (1.41.5)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/anaconda3/lib/python3.12/site-packages (from boto3>=1.9->dataflows-tabulator>=1.54.1->tableschema) (1.0.1)
Requirement already satisfied: s3transfer<0.16.0,>=0.15.0 in /opt/anaconda3/lib/python3.12/site-packages (from boto3>=1.9->dataflows-tabulator>=1.54.1->tableschema) (0.15.0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /opt/anaconda3/lib/python3.12/site-packages (from botocore<1.42.0,>=1.41.5->boto3>=1.9->dataflows-tabulator>=1.54.1->tableschema) (2.2.3)
Requirement already satisfied: attrs>=19.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from jsonlines>=1.1->dataflows-tabulator>=1.54.1->tableschema) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /opt/anaconda3/lib/python3.12/site-packages (from jsonschema>=2.5->tableschema) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in /opt/anaconda3/lib/python3.12/site-packages (from jsonschema>=2.5->tableschema) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in /opt/anaconda3/lib/python3.12/site-packages (from jsonschema>=2.5->tableschema) (0.10.6)
Requirement already satisfied: et-xmlfile in /opt/anaconda3/lib/python3.12/site-packages (from openpyxl>=2.6->dataflows-tabulator>=1.54.1->tableschema) (1.1.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.5->tableschema) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.5->tableschema) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.5->tableschema) (2025.4.26)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=0.9.6->dataflows-tabulator>=1.54.1->tableschema) (4.15.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [25]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.12/site-packages (2.9.11)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine
from dotenv import load_dotenv

In [2]:
root_folder = 'data-epc'
file_type = '.csv'

data_dump = []

In [3]:
def load_file(path):
    if path.endswith('.csv'):
        return pd.read_csv(path)
    return None

In [4]:
for root, dirs, files in os.walk(root_folder): 
    for file in files: 
        if file.lower().endswith(file_type) and file.lower().startswith('certificates'):
            file_path = os.path.join(root,file)
            print(f'Loading: {file_path}')

            df = load_file(file_path)
            df['source_file'] = file_path
            data_dump.append(df)

Loading: data-epc/domestic-E06000041-Wokingham/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_90282/1715873210.py:3: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E06000037-West-Berkshire/certificates copy.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_90282/1715873210.py:3: DtypeWarning: Columns (15,34,37) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E06000039-Slough/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_90282/1715873210.py:3: DtypeWarning: Columns (15,34,37) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E07000005-Chiltern/certificates.csv
Loading: data-epc/domestic-E07000213-Spelthorne/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_90282/1715873210.py:3: DtypeWarning: Columns (34,37) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E06000036-Bracknell-Forest/certificates.csv
Loading: data-epc/domestic-E06000042-Milton-Keynes/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_90282/1715873210.py:3: DtypeWarning: Columns (34,83) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E07000007-Wycombe/certificates.csv
Loading: data-epc/domestic-E07000004-Aylesbury-Vale/certificates.csv
Loading: data-epc/domestic-E06000060-Buckinghamshire/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_90282/1715873210.py:3: DtypeWarning: Columns (15,34,83) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E06000040-Windsor-and-Maidenhead/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_90282/1715873210.py:3: DtypeWarning: Columns (15,34) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E07000103-Watford/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_90282/1715873210.py:3: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E07000217-Woking/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_90282/1715873210.py:3: DtypeWarning: Columns (34,37,39,40,83) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E06000038-Reading/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_90282/1715873210.py:3: DtypeWarning: Columns (34,37) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E07000084-Basingstoke-and-Deane/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_90282/1715873210.py:3: DtypeWarning: Columns (34,37) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E07000085-East-Hampshire/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_90282/1715873210.py:3: DtypeWarning: Columns (37) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E07000096-Dacorum/certificates.csv
Loading: data-epc/domestic-E07000006-South-Bucks/certificates.csv
Loading: data-epc/domestic-E09000017-Hillingdon/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_90282/1715873210.py:3: DtypeWarning: Columns (15,34,39,40,83) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E07000102-Three-Rivers/certificates.csv
Loading: data-epc/domestic-E07000086-Eastleigh/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_90282/1715873210.py:3: DtypeWarning: Columns (34,83) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

Loading: data-epc/domestic-E07000087-Fareham/certificates.csv

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_90282/1715873210.py:3: DtypeWarning: Columns (34,37) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(path)

In [5]:
# Combining the datasets as they have the same schema
combined_df = pd.concat(data_dump, ignore_index=True, sort=False)
combined_df.head()

,LMK_KEY,ADDRESS1,ADDRESS2,ADDRESS3,POSTCODE,BUILDING_REFERENCE_NUMBER,CURRENT_ENERGY_RATING,POTENTIAL_ENERGY_RATING,CURRENT_ENERGY_EFFICIENCY,POTENTIAL_ENERGY_EFFICIENCY,...,POSTTOWN,CONSTRUCTION_AGE_BAND,LODGEMENT_DATETIME,TENURE,FIXED_LIGHTING_OUTLETS_COUNT,LOW_ENERGY_FIXED_LIGHT_COUNT,UPRN,UPRN_SOURCE,REPORT_TYPE,source_file
0,509075769602010070514280374700258,Oldbury Court,Houston Way,NaN,RG45 6BY,6689367768,D,C,58,70,...,CROWTHORNE,England and Wales: 1983-1990,2010-07-05 14:28:03,rental (private),NaN,NaN,1.404749e+07,Address Matched,100,data-epc/domestic-E06000041-Wokingham/certific...
1,825484589922012081523401030158582,"32, Jersey Drive",Winnersh,NaN,RG41 5FR,8309890078,C,B,78,89,...,WOKINGHAM,England and Wales: 2003-2006,2012-08-15 23:40:10,rental (private),12.0,3.0,1.003293e+10,Address Matched,100,data-epc/domestic-E06000041-Wokingham/certific...
2,308522336512020052719593725200865,"5, Mount Pleasant",NaN,NaN,RG41 2YG,8588653668,E,B,43,87,...,WOKINGHAM,England and Wales: before 1900,2020-05-27 19:59:37,rental (private),NaN,NaN,1.404619e+07,Address Matched,100,data-epc/domestic-E06000041-Wokingham/certific...
3,1400255992812016022517164196949049,"10, Grazeley Road",Three Mile Cross,NaN,RG7 1BJ,970261478,B,A,83,95,...,READING,NO DATA!,2016-02-25 17:16:41,unknown,20.0,20.0,1.002405e+10,Address Matched,101,data-epc/domestic-E06000041-Wokingham/certific...
4,532780989652010082610135392200777,"2, Chilcombe Way",Lower Earley,NaN,RG6 3DA,7744929768,D,C,68,76,...,READING,England and Wales: 1976-1982,2010-08-26 10:13:53,owner-occupied,NaN,NaN,1.401858e+07,Address Matched,100,data-epc/domestic-E06000041-Wokingham/certific...

In [6]:
load_dotenv()
password = os.getenv('db_pass')
database_name = os.getenv('db_name')

# Creating an engine to write to PostgresSQL
engine = create_engine(f'postgresql+psycopg2://postgres:{password}@localhost:5432/{database_name}')

In [7]:
'''
# Writing to SQL
combined_df.to_sql(
    'epc_certificates',
    engine,
    if_exists='replace',
    index=False
)
'''

"\n# Writing to SQL\ncombined_df.to_sql(\n    'epc_certificates',\n    engine,\n    if_exists='replace',\n    index=False\n)\n"

In [8]:
combined_df.size

134942076

In [9]:
valid_postcodes = ('HP8', 'SL9', 'SL1', 'SL2', 'SL3', 'SL0', 'SL6', 'SL7', 'HP9', 'HP10', 'SL4', 'HP11', 'HP12', 'HP13')

valid_EPC = combined_df[combined_df['POSTCODE'].str.startswith(valid_postcodes)]

valid_EPC.shape

(222359, 94)

In [10]:
valid_EPC.info()

<class 'pandas.core.frame.DataFrame'>
Index: 222359 entries, 144134 to 1329331
Data columns (total 94 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   LMK_KEY                        222359 non-null  object
 1   ADDRESS1                       222359 non-null  object
 2   ADDRESS2                       101959 non-null  object
 3   ADDRESS3                       25425 non-null   object
 4   POSTCODE                       222359 non-null  object
 5   BUILDING_REFERENCE_NUMBER      222359 non-null  int64
 6   CURRENT_ENERGY_RATING          222359 non-null  object
 7   POTENTIAL_ENERGY_RATING        222359 non-null  object
 8   CURRENT_ENERGY_EFFICIENCY      222359 non-null  int64
 9   POTENTIAL_ENERGY_EFFICIENCY    222359 non-null  int64
 10  PROPERTY_TYPE                  222359 non-null  object
 11  BUILT_FORM                     222342 non-null  object
 12  INSPECTION_DATE                222359 non-null  object
 13  LOCAL_AUTHORITY                222359 non-null  object
 14  CONSTITUENCY                   222359 non-null  object
 15  COUNTY                         69814 non-null   object
 16  LODGEMENT_DATE                 222359 non-null  object
 17  TRANSACTION_TYPE               222359 non-null  object
 18  ENVIRONMENT_IMPACT_CURRENT     222359 non-null  int64
 19  ENVIRONMENT_IMPACT_POTENTIAL   222359 non-null  int64
 20  ENERGY_CONSUMPTION_CURRENT     222359 non-null  int64
 21  ENERGY_CONSUMPTION_POTENTIAL   222307 non-null  float64
 22  CO2_EMISSIONS_CURRENT          222359 non-null  float64
 23  CO2_EMISS_CURR_PER_FLOOR_AREA  222359 non-null  int64
 24  CO2_EMISSIONS_POTENTIAL        222359 non-null  float64
 25  LIGHTING_COST_CURRENT          222306 non-null  float64
 26  LIGHTING_COST_POTENTIAL        222306 non-null  float64
 27  HEATING_COST_CURRENT           222306 non-null  float64
 28  HEATING_COST_POTENTIAL         222306 non-null  float64
 29  HOT_WATER_COST_CURRENT         222307 non-null  float64
 30  HOT_WATER_COST_POTENTIAL       222307 non-null  float64
 31  TOTAL_FLOOR_AREA               222359 non-null  float64
 32  ENERGY_TARIFF                  222356 non-null  object
 33  MAINS_GAS_FLAG                 196280 non-null  object
 34  FLOOR_LEVEL                    182183 non-null  object
 35  FLAT_TOP_STOREY                76585 non-null   object
 36  FLAT_STOREY_COUNT              16256 non-null   float64
 37  MAIN_HEATING_CONTROLS          137511 non-null  object
 38  MULTI_GLAZE_PROPORTION         203777 non-null  float64
 39  GLAZED_TYPE                    209561 non-null  object
 40  GLAZED_AREA                    209561 non-null  object
 41  EXTENSION_COUNT                196542 non-null  float64
 42  NUMBER_HABITABLE_ROOMS         196542 non-null  float64
 43  NUMBER_HEATED_ROOMS            196542 non-null  float64
 44  LOW_ENERGY_LIGHTING            214679 non-null  float64
 45  NUMBER_OPEN_FIREPLACES         215015 non-null  float64
 46  HOTWATER_DESCRIPTION           222359 non-null  object
 47  HOT_WATER_ENERGY_EFF           221683 non-null  object
 48  HOT_WATER_ENV_EFF              221680 non-null  object
 49  FLOOR_DESCRIPTION              222346 non-null  object
 50  FLOOR_ENERGY_EFF               68188 non-null   object
 51  FLOOR_ENV_EFF                  14331 non-null   object
 52  WINDOWS_DESCRIPTION            222319 non-null  object
 53  WINDOWS_ENERGY_EFF             222080 non-null  object
 54  WINDOWS_ENV_EFF                222080 non-null  object
 55  WALLS_DESCRIPTION              222351 non-null  object
 56  WALLS_ENERGY_EFF               222063 non-null  object
 57  WALLS_ENV_EFF                  222063 non-null  object
 58  SECONDHEAT_DESCRIPTION         72958 non-null   object
 59  SHEATING_ENERGY_EFF            0 non-null       float64
 60  SHEATING_ENV_EFF               0 non-null       float64
 61  ROOF_DESCRIPTION               222329 non-null  object
 62  ROOF_ENERGY_EFF                173923 non-null  object
 63  ROOF_ENV_EFF                   173923 non-null  object
 64  MAINHEAT_DESCRIPTION           222359 non-null  object
 65  MAINHEAT_ENERGY_EFF            221680 non-null  object
 66  MAINHEAT_ENV_EFF               221680 non-null  object
 67  MAINHEATCONT_DESCRIPTION       221764 non-null  object
 68  MAINHEATC_ENERGY_EFF           221770 non-null  object
 69  MAINHEATC_ENV_EFF              221770 non-null  object
 70  LIGHTING_DESCRIPTION           222359 non-null  object
 71  LIGHTING_ENERGY_EFF            222020 non-null  object
 72  LIGHTING_ENV_EFF               222058 non-null  object
 73  MAIN_FUEL                      221908 non-null  object
 74  WIND_TURBINE_COUNT             209068 non-null  float64
 75  HEAT_LOSS_CORRIDOR             175633 non-null  object
 76  UNHEATED_CORRIDOR_LENGTH       34361 non-null   float64
 77  FLOOR_HEIGHT                   120008 non-null  float64
 78  PHOTO_SUPPLY                   141838 non-null  float64
 79  SOLAR_WATER_HEATING_FLAG       147741 non-null  object
 80  MECHANICAL_VENTILATION         209677 non-null  object
 81  ADDRESS                        222359 non-null  object
 82  LOCAL_AUTHORITY_LABEL          222359 non-null  object
 83  CONSTITUENCY_LABEL             206695 non-null  object
 84  POSTTOWN                       221224 non-null  object
 85  CONSTRUCTION_AGE_BAND          219997 non-null  object
 86  LODGEMENT_DATETIME             222359 non-null  object
 87  TENURE                         218113 non-null  object
 88  FIXED_LIGHTING_OUTLETS_COUNT   133015 non-null  float64
 89  LOW_ENERGY_FIXED_LIGHT_COUNT   71292 non-null   float64
 90  UPRN                           218956 non-null  float64
 91  UPRN_SOURCE                    218956 non-null  object
 92  REPORT_TYPE                    222359 non-null  int64
 93  source_file                    222359 non-null  object
dtypes: float64(26), int64(8), object(60)
memory usage: 161.2+ MB

In [11]:
summary = valid_EPC.isna().sum().sort_values(ascending=False)

In [12]:
summary.head(n=50)

SHEATING_ENERGY_EFF             222359
SHEATING_ENV_EFF                222359
FLOOR_ENV_EFF                   208028
FLAT_STOREY_COUNT               206103
ADDRESS3                        196934
UNHEATED_CORRIDOR_LENGTH        187998
FLOOR_ENERGY_EFF                154171
COUNTY                          152545
LOW_ENERGY_FIXED_LIGHT_COUNT    151067
SECONDHEAT_DESCRIPTION          149401
FLAT_TOP_STOREY                 145774
ADDRESS2                        120400
FLOOR_HEIGHT                    102351
FIXED_LIGHTING_OUTLETS_COUNT     89344
MAIN_HEATING_CONTROLS            84848
PHOTO_SUPPLY                     80521
SOLAR_WATER_HEATING_FLAG         74618
ROOF_ENERGY_EFF                  48436
ROOF_ENV_EFF                     48436
HEAT_LOSS_CORRIDOR               46726
FLOOR_LEVEL                      40176
MAINS_GAS_FLAG                   26079
EXTENSION_COUNT                  25817
NUMBER_HABITABLE_ROOMS           25817
NUMBER_HEATED_ROOMS              25817
MULTI_GLAZE_PROPORTION           18582
CONSTITUENCY_LABEL               15664
WIND_TURBINE_COUNT               13291
GLAZED_TYPE                      12798
GLAZED_AREA                      12798
MECHANICAL_VENTILATION           12682
LOW_ENERGY_LIGHTING               7680
NUMBER_OPEN_FIREPLACES            7344
TENURE                            4246
UPRN                              3403
UPRN_SOURCE                       3403
CONSTRUCTION_AGE_BAND             2362
POSTTOWN                          1135
MAINHEAT_ENERGY_EFF                679
MAINHEAT_ENV_EFF                   679
HOT_WATER_ENV_EFF                  679
HOT_WATER_ENERGY_EFF               676
MAINHEATCONT_DESCRIPTION           595
MAINHEATC_ENV_EFF                  589
MAINHEATC_ENERGY_EFF               589
MAIN_FUEL                          451
LIGHTING_ENERGY_EFF                339
LIGHTING_ENV_EFF                   301
WALLS_ENV_EFF                      296
WALLS_ENERGY_EFF                   296
dtype: int64

In [13]:
valid_EPC.shape

(222359, 94)

# Land Registry Load

In [14]:
def load_folder_csvs(filepath, file_type='.csv', data_dump=[]):
    root_folder = filepath
    
    for root, dirs, files in os.walk(root_folder): 
        for file in files: 
            if file.lower().endswith(file_type):
                file_path = os.path.join(root,file)
                print(f'Loading: {file_path}')

                df = load_file(file_path)
                df['source_file'] = file_path
                data_dump.append(df)
    return data_dump

In [15]:
land_registry = load_folder_csvs(filepath='./data-land_registry')

Loading: ./data-land_registry/HP13-march2020-to-nov2025.csv
Loading: ./data-land_registry/SL2-march2020-to-nov2025.csv
Loading: ./data-land_registry/SL6-march2020-to-nov2025.csv
Loading: ./data-land_registry/HP12-march2020-to-nov2025.csv
Loading: ./data-land_registry/SL7-march2020-to-nov2025.csv
Loading: ./data-land_registry/SL3-march2020-to-nov2025.csv
Loading: ./data-land_registry/SL1-march2020-to-nov2025.csv.csv
Loading: ./data-land_registry/HP10-march2020-to-nov2025.csv
Loading: ./data-land_registry/HP9-march2020-to-nov2025.csv
Loading: ./data-land_registry/HP8-march2020-to-nov2025.csv
Loading: ./data-land_registry/SL4-march2020-to-nov2025.csv
Loading: ./data-land_registry/SL0-march2020-to-nov2025.csv
Loading: ./data-land_registry/HP11-march2020-to-nov2025.csv
Loading: ./data-land_registry/SL9-march2020-to-nov2025.csv.csv

In [16]:
type(land_registry)

list

In [17]:
land_registry[0]

,unique_id,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,street,locality,town,district,county,transaction_category,linked_data_uri,source_file
0,E2D14905-119C-4C2D-E053-6B04A8C0422B,582000,2022-06-06,HP13 5AA,S,N,F,NaN,49,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
1,2ACACE8C-96D3-295E-E063-4804A8C0B0EB,655000,2024-12-12,HP13 5AA,S,N,F,NaN,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
2,D4D42645-4622-27F6-E053-6C04A8C0A572,560000,2021-10-28,HP13 5AA,S,N,F,NaN,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
3,34222871-FD7A-4D2B-E063-4704A8C07853,375000,2025-03-31,HP13 5AB,T,N,F,NaN,134,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
4,F5E8B080-E8B1-3A13-E053-6C04A8C060B7,440000,2023-01-20,HP13 5AD,S,N,F,NaN,145,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,D22473F4-E36F-7B40-E053-6C04A8C0A630,335000,2021-09-30,HP13 7YE,T,N,F,NaN,15,CROFTWOOD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
2164,F3B6C197-C135-6E40-E053-6C04A8C0B3B4,360000,2022-07-15,HP13 7YE,T,N,F,NaN,24,CROFTWOOD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
2165,CD5A9DCB-8C0E-310A-E053-6C04A8C00A1F,305000,2021-03-26,HP13 7YE,T,N,F,NaN,28,CROFTWOOD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
2166,DBA933F9-00A9-669D-E053-6B04A8C0AD56,285000,2021-12-22,HP13 7YE,T,N,F,NaN,45,CROFTWOOD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
2167,D93B27B0-4DCC-3100-E053-6C04A8C08887,335000,2021-09-24,HP13 7YT,S,N,F,NaN,18,HALL CLOSE,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...

In [18]:
def concat_list_of_df(list_item=land_registry):
    try:
        if len(list_item) == 1:
            return list_item[0].copy()
        
        combined = pd.concat(list_item, ignore_index=True, axis=0)
        return combined
    
    except Exception as e:
        print(f'Combining dataframes errored with: {e}')
        
LR_combined = concat_list_of_df()

In [19]:
LR_combined.head()

,unique_id,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,street,locality,town,district,county,transaction_category,linked_data_uri,source_file
0,E2D14905-119C-4C2D-E053-6B04A8C0422B,582000,2022-06-06,HP13 5AA,S,N,F,NaN,49,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
1,2ACACE8C-96D3-295E-E063-4804A8C0B0EB,655000,2024-12-12,HP13 5AA,S,N,F,NaN,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
2,D4D42645-4622-27F6-E053-6C04A8C0A572,560000,2021-10-28,HP13 5AA,S,N,F,NaN,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
3,34222871-FD7A-4D2B-E063-4704A8C07853,375000,2025-03-31,HP13 5AB,T,N,F,NaN,134,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
4,F5E8B080-E8B1-3A13-E053-6C04A8C060B7,440000,2023-01-20,HP13 5AD,S,N,F,NaN,145,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...

In [20]:
LR_combined.size

379933

# Combining Datasets

In [21]:
valid_EPC.head(n=1)

,LMK_KEY,ADDRESS1,ADDRESS2,ADDRESS3,POSTCODE,BUILDING_REFERENCE_NUMBER,CURRENT_ENERGY_RATING,POTENTIAL_ENERGY_RATING,CURRENT_ENERGY_EFFICIENCY,POTENTIAL_ENERGY_EFFICIENCY,...,POSTTOWN,CONSTRUCTION_AGE_BAND,LODGEMENT_DATETIME,TENURE,FIXED_LIGHTING_OUTLETS_COUNT,LOW_ENERGY_FIXED_LIGHT_COUNT,UPRN,UPRN_SOURCE,REPORT_TYPE,source_file
144134,210776721852020070208271224000054,"48, Stanhope Road",NaN,NaN,SL1 6JS,487146568,D,B,56,84,...,SLOUGH,England and Wales: 1930-1949,2020-07-02 08:27:12,rental (private),NaN,NaN,1.000803e+11,Address Matched,100,data-epc/domestic-E06000039-Slough/certificate...

In [22]:
LR_combined.head(n=1)

,unique_id,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,street,locality,town,district,county,transaction_category,linked_data_uri,source_file
0,E2D14905-119C-4C2D-E053-6B04A8C0422B,582000,2022-06-06,HP13 5AA,S,N,F,NaN,49,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...

In [23]:
LR_combined.columns

Index(['unique_id', 'price_paid', 'deed_date', 'postcode', 'property_type',
       'new_build', 'estate_type', 'saon', 'paon', 'street', 'locality',
       'town', 'district', 'county', 'transaction_category', 'linked_data_uri',
       'source_file'],
      dtype='object')

! Looks like the Land Registry data does not have an address field so we need to make one.

In [ ]:
valid_EPC.head()

,LMK_KEY,ADDRESS1,ADDRESS2,ADDRESS3,POSTCODE,BUILDING_REFERENCE_NUMBER,CURRENT_ENERGY_RATING,POTENTIAL_ENERGY_RATING,CURRENT_ENERGY_EFFICIENCY,POTENTIAL_ENERGY_EFFICIENCY,...,POSTTOWN,CONSTRUCTION_AGE_BAND,LODGEMENT_DATETIME,TENURE,FIXED_LIGHTING_OUTLETS_COUNT,LOW_ENERGY_FIXED_LIGHT_COUNT,UPRN,UPRN_SOURCE,REPORT_TYPE,source_file
144134,210776721852020070208271224000054,"48, Stanhope Road",NaN,NaN,SL1 6JS,487146568,D,B,56,84,...,SLOUGH,England and Wales: 1930-1949,2020-07-02 08:27:12,rental (private),NaN,NaN,1.000803e+11,Address Matched,100,data-epc/domestic-E06000039-Slough/certificate...
144135,1326681509222015052912541786218345,Flat 112 West Central,"1a, Stoke Road",NaN,SL2 5PF,4881046378,C,C,77,77,...,SLOUGH,NO DATA!,2015-05-29 12:54:17,unknown,10.0,10.0,1.009077e+10,Address Matched,101,data-epc/domestic-E06000039-Slough/certificate...
144136,962080069842014120417254410040148,"39a, Hencroft Street South",NaN,NaN,SL1 1RF,3825360178,D,C,60,78,...,SLOUGH,England and Wales: 1900-1929,2014-12-04 17:25:44,rental (private),7.0,5.0,1.000803e+11,Address Matched,100,data-epc/domestic-E06000039-Slough/certificate...
144137,1132980469202014051311353821240768,"20, Thorndike",NaN,NaN,SL2 1SR,9294862278,D,B,63,87,...,SLOUGH,England and Wales: 1950-1966,2014-05-13 11:35:38,owner-occupied,12.0,7.0,1.000803e+11,Address Matched,100,data-epc/domestic-E06000039-Slough/certificate...
144138,225287962132009020314541192068601,"5, Elmwood Road",NaN,NaN,SL2 5QQ,6162637568,E,C,48,74,...,SLOUGH,England and Wales: 1930-1949,2009-02-03 14:54:11,owner-occupied,NaN,NaN,1.000803e+11,Address Matched,100,data-epc/domestic-E06000039-Slough/certificate...

In [ ]:
LR_combined.head()

,unique_id,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,street,locality,town,district,county,transaction_category,linked_data_uri,source_file
0,E2D14905-119C-4C2D-E053-6B04A8C0422B,582000,2022-06-06,HP13 5AA,S,N,F,NaN,49,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
1,2ACACE8C-96D3-295E-E063-4804A8C0B0EB,655000,2024-12-12,HP13 5AA,S,N,F,NaN,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
2,D4D42645-4622-27F6-E053-6C04A8C0A572,560000,2021-10-28,HP13 5AA,S,N,F,NaN,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
3,34222871-FD7A-4D2B-E063-4704A8C07853,375000,2025-03-31,HP13 5AB,T,N,F,NaN,134,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...
4,F5E8B080-E8B1-3A13-E053-6C04A8C060B7,440000,2023-01-20,HP13 5AD,S,N,F,NaN,145,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...

In [25]:
valid_EPC.columns

Index(['LMK_KEY', 'ADDRESS1', 'ADDRESS2', 'ADDRESS3', 'POSTCODE',
       'BUILDING_REFERENCE_NUMBER', 'CURRENT_ENERGY_RATING',
       'POTENTIAL_ENERGY_RATING', 'CURRENT_ENERGY_EFFICIENCY',
       'POTENTIAL_ENERGY_EFFICIENCY', 'PROPERTY_TYPE', 'BUILT_FORM',
       'INSPECTION_DATE', 'LOCAL_AUTHORITY', 'CONSTITUENCY', 'COUNTY',
       'LODGEMENT_DATE', 'TRANSACTION_TYPE', 'ENVIRONMENT_IMPACT_CURRENT',
       'ENVIRONMENT_IMPACT_POTENTIAL', 'ENERGY_CONSUMPTION_CURRENT',
       'ENERGY_CONSUMPTION_POTENTIAL', 'CO2_EMISSIONS_CURRENT',
       'CO2_EMISS_CURR_PER_FLOOR_AREA', 'CO2_EMISSIONS_POTENTIAL',
       'LIGHTING_COST_CURRENT', 'LIGHTING_COST_POTENTIAL',
       'HEATING_COST_CURRENT', 'HEATING_COST_POTENTIAL',
       'HOT_WATER_COST_CURRENT', 'HOT_WATER_COST_POTENTIAL',
       'TOTAL_FLOOR_AREA', 'ENERGY_TARIFF', 'MAINS_GAS_FLAG', 'FLOOR_LEVEL',
       'FLAT_TOP_STOREY', 'FLAT_STOREY_COUNT', 'MAIN_HEATING_CONTROLS',
       'MULTI_GLAZE_PROPORTION', 'GLAZED_TYPE', 'GLAZED_AREA',
       'EXTENSION_COUNT', 'NUMBER_HABITABLE_ROOMS', 'NUMBER_HEATED_ROOMS',
       'LOW_ENERGY_LIGHTING', 'NUMBER_OPEN_FIREPLACES', 'HOTWATER_DESCRIPTION',
       'HOT_WATER_ENERGY_EFF', 'HOT_WATER_ENV_EFF', 'FLOOR_DESCRIPTION',
       'FLOOR_ENERGY_EFF', 'FLOOR_ENV_EFF', 'WINDOWS_DESCRIPTION',
       'WINDOWS_ENERGY_EFF', 'WINDOWS_ENV_EFF', 'WALLS_DESCRIPTION',
       'WALLS_ENERGY_EFF', 'WALLS_ENV_EFF', 'SECONDHEAT_DESCRIPTION',
       'SHEATING_ENERGY_EFF', 'SHEATING_ENV_EFF', 'ROOF_DESCRIPTION',
       'ROOF_ENERGY_EFF', 'ROOF_ENV_EFF', 'MAINHEAT_DESCRIPTION',
       'MAINHEAT_ENERGY_EFF', 'MAINHEAT_ENV_EFF', 'MAINHEATCONT_DESCRIPTION',
       'MAINHEATC_ENERGY_EFF', 'MAINHEATC_ENV_EFF', 'LIGHTING_DESCRIPTION',
       'LIGHTING_ENERGY_EFF', 'LIGHTING_ENV_EFF', 'MAIN_FUEL',
       'WIND_TURBINE_COUNT', 'HEAT_LOSS_CORRIDOR', 'UNHEATED_CORRIDOR_LENGTH',
       'FLOOR_HEIGHT', 'PHOTO_SUPPLY', 'SOLAR_WATER_HEATING_FLAG',
       'MECHANICAL_VENTILATION', 'ADDRESS', 'LOCAL_AUTHORITY_LABEL',
       'CONSTITUENCY_LABEL', 'POSTTOWN', 'CONSTRUCTION_AGE_BAND',
       'LODGEMENT_DATETIME', 'TENURE', 'FIXED_LIGHTING_OUTLETS_COUNT',
       'LOW_ENERGY_FIXED_LIGHT_COUNT', 'UPRN', 'UPRN_SOURCE', 'REPORT_TYPE',
       'source_file'],
      dtype='object')

In [26]:
LR_combined.columns

Index(['unique_id', 'price_paid', 'deed_date', 'postcode', 'property_type',
       'new_build', 'estate_type', 'saon', 'paon', 'street', 'locality',
       'town', 'district', 'county', 'transaction_category', 'linked_data_uri',
       'source_file'],
      dtype='object')

In [29]:
valid_EPC['ADDRESS'].head()

144134                        48, Stanhope Road
144135    Flat 112 West Central, 1a, Stoke Road
144136               39a, Hencroft Street South
144137                            20, Thorndike
144138                          5, Elmwood Road
Name: ADDRESS, dtype: object

In [38]:
LR_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22349 entries, 0 to 22348
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   unique_id             22349 non-null  object
 1   price_paid            22349 non-null  int64
 2   deed_date             22349 non-null  object
 3   postcode              22349 non-null  object
 4   property_type         22349 non-null  object
 5   new_build             22349 non-null  object
 6   estate_type           22349 non-null  object
 7   saon                  484 non-null    object
 8   paon                  22349 non-null  object
 9   street                22330 non-null  object
 10  locality              6417 non-null   object
 11  town                  22349 non-null  object
 12  district              22349 non-null  object
 13  county                22349 non-null  object
 14  transaction_category  22349 non-null  object
 15  linked_data_uri       22349 non-null  object
 16  source_file           22349 non-null  object
dtypes: int64(1), object(16)
memory usage: 2.9+ MB

In [41]:
def colToStr(list_of_cols,  df):
    df[list_of_cols]= df[list_of_cols].astype(str)

In [42]:
colToStr(['paon','street','postcode'], LR_combined)

In [133]:
LR_combined['combined_address'] = LR_combined[['paon','street','postcode']].agg(' '.join, axis=1)
LR_combined.head()

,unique_id,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,street,locality,town,district,county,transaction_category,linked_data_uri,source_file,ADDRESS_V1,combined_address,fuzzy_match
0,E2D14905-119C-4C2D-E053-6B04A8C0422B,582000,2022-06-06,HP13 5AA,S,N,F,NaN,49,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...,49 AMERSHAM ROAD HP13 5AA,49 AMERSHAM ROAD HP13 5AA,155 AMERSHAM ROAD HP13 5AE
1,2ACACE8C-96D3-295E-E063-4804A8C0B0EB,655000,2024-12-12,HP13 5AA,S,N,F,NaN,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...,67 AMERSHAM ROAD HP13 5AA,67 AMERSHAM ROAD HP13 5AA,155 AMERSHAM ROAD HP13 5AE
2,D4D42645-4622-27F6-E053-6C04A8C0A572,560000,2021-10-28,HP13 5AA,S,N,F,NaN,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...,67 AMERSHAM ROAD HP13 5AA,67 AMERSHAM ROAD HP13 5AA,155 AMERSHAM ROAD HP13 5AE
3,34222871-FD7A-4D2B-E063-4704A8C07853,375000,2025-03-31,HP13 5AB,T,N,F,NaN,134,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...,134 AMERSHAM ROAD HP13 5AB,134 AMERSHAM ROAD HP13 5AB,155 AMERSHAM ROAD HP13 5AE
4,F5E8B080-E8B1-3A13-E053-6C04A8C060B7,440000,2023-01-20,HP13 5AD,S,N,F,NaN,145,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...,./data-land_registry/HP13-march2020-to-nov2025...,145 AMERSHAM ROAD HP13 5AD,145 AMERSHAM ROAD HP13 5AD,155 AMERSHAM ROAD HP13 5AE

In [45]:
LR_address_cols = LR_combined[['postcode', 'saon','paon', 'street','locality', 'town','district','county']]
LR_address_cols.head()

,postcode,saon,paon,street,locality,town,district,county
0,HP13 5AA,NaN,49,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE
1,HP13 5AA,NaN,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE
2,HP13 5AA,NaN,67,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE
3,HP13 5AB,NaN,134,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE
4,HP13 5AD,NaN,145,AMERSHAM ROAD,NaN,HIGH WYCOMBE,BUCKINGHAMSHIRE,BUCKINGHAMSHIRE

In [61]:
valid_EPC.columns

Index(['LMK_KEY', 'ADDRESS1', 'ADDRESS2', 'ADDRESS3', 'POSTCODE',
       'BUILDING_REFERENCE_NUMBER', 'CURRENT_ENERGY_RATING',
       'POTENTIAL_ENERGY_RATING', 'CURRENT_ENERGY_EFFICIENCY',
       'POTENTIAL_ENERGY_EFFICIENCY', 'PROPERTY_TYPE', 'BUILT_FORM',
       'INSPECTION_DATE', 'LOCAL_AUTHORITY', 'CONSTITUENCY', 'COUNTY',
       'LODGEMENT_DATE', 'TRANSACTION_TYPE', 'ENVIRONMENT_IMPACT_CURRENT',
       'ENVIRONMENT_IMPACT_POTENTIAL', 'ENERGY_CONSUMPTION_CURRENT',
       'ENERGY_CONSUMPTION_POTENTIAL', 'CO2_EMISSIONS_CURRENT',
       'CO2_EMISS_CURR_PER_FLOOR_AREA', 'CO2_EMISSIONS_POTENTIAL',
       'LIGHTING_COST_CURRENT', 'LIGHTING_COST_POTENTIAL',
       'HEATING_COST_CURRENT', 'HEATING_COST_POTENTIAL',
       'HOT_WATER_COST_CURRENT', 'HOT_WATER_COST_POTENTIAL',
       'TOTAL_FLOOR_AREA', 'ENERGY_TARIFF', 'MAINS_GAS_FLAG', 'FLOOR_LEVEL',
       'FLAT_TOP_STOREY', 'FLAT_STOREY_COUNT', 'MAIN_HEATING_CONTROLS',
       'MULTI_GLAZE_PROPORTION', 'GLAZED_TYPE', 'GLAZED_AREA',
       'EXTENSION_COUNT', 'NUMBER_HABITABLE_ROOMS', 'NUMBER_HEATED_ROOMS',
       'LOW_ENERGY_LIGHTING', 'NUMBER_OPEN_FIREPLACES', 'HOTWATER_DESCRIPTION',
       'HOT_WATER_ENERGY_EFF', 'HOT_WATER_ENV_EFF', 'FLOOR_DESCRIPTION',
       'FLOOR_ENERGY_EFF', 'FLOOR_ENV_EFF', 'WINDOWS_DESCRIPTION',
       'WINDOWS_ENERGY_EFF', 'WINDOWS_ENV_EFF', 'WALLS_DESCRIPTION',
       'WALLS_ENERGY_EFF', 'WALLS_ENV_EFF', 'SECONDHEAT_DESCRIPTION',
       'SHEATING_ENERGY_EFF', 'SHEATING_ENV_EFF', 'ROOF_DESCRIPTION',
       'ROOF_ENERGY_EFF', 'ROOF_ENV_EFF', 'MAINHEAT_DESCRIPTION',
       'MAINHEAT_ENERGY_EFF', 'MAINHEAT_ENV_EFF', 'MAINHEATCONT_DESCRIPTION',
       'MAINHEATC_ENERGY_EFF', 'MAINHEATC_ENV_EFF', 'LIGHTING_DESCRIPTION',
       'LIGHTING_ENERGY_EFF', 'LIGHTING_ENV_EFF', 'MAIN_FUEL',
       'WIND_TURBINE_COUNT', 'HEAT_LOSS_CORRIDOR', 'UNHEATED_CORRIDOR_LENGTH',
       'FLOOR_HEIGHT', 'PHOTO_SUPPLY', 'SOLAR_WATER_HEATING_FLAG',
       'MECHANICAL_VENTILATION', 'ADDRESS', 'LOCAL_AUTHORITY_LABEL',
       'CONSTITUENCY_LABEL', 'POSTTOWN', 'CONSTRUCTION_AGE_BAND',
       'LODGEMENT_DATETIME', 'TENURE', 'FIXED_LIGHTING_OUTLETS_COUNT',
       'LOW_ENERGY_FIXED_LIGHT_COUNT', 'UPRN', 'UPRN_SOURCE', 'REPORT_TYPE',
       'source_file'],
      dtype='object')

In [49]:
valid_EPC[['ADDRESS', 'ADDRESS1', 'ADDRESS2', 'ADDRESS3']].head()

,ADDRESS,ADDRESS1,ADDRESS2,ADDRESS3
144134,"48, Stanhope Road","48, Stanhope Road",NaN,NaN
144135,"Flat 112 West Central, 1a, Stoke Road",Flat 112 West Central,"1a, Stoke Road",NaN
144136,"39a, Hencroft Street South","39a, Hencroft Street South",NaN,NaN
144137,"20, Thorndike","20, Thorndike",NaN,NaN
144138,"5, Elmwood Road","5, Elmwood Road",NaN,NaN

In [57]:
valid_EPC.loc[valid_EPC['ADDRESS']!= valid_EPC['ADDRESS1'], ['ADDRESS','ADDRESS1', 'ADDRESS2','ADDRESS3']]

,ADDRESS,ADDRESS1,ADDRESS2,ADDRESS3
144135,"Flat 112 West Central, 1a, Stoke Road",Flat 112 West Central,"1a, Stoke Road",NaN
144141,"4 Arlington Court, Hawtrey Close",4 Arlington Court,Hawtrey Close,NaN
144144,"Flat 65 The Pines, Forest Close, Wexham",Flat 65 The Pines,Forest Close,Wexham
144147,"Flat 6, 27, Grays Place",Flat 6,"27, Grays Place",NaN
144148,"36 The Foyer, 52 Stoke Road",36 The Foyer,52 Stoke Road,NaN
...,...,...,...,...
1303430,"High Trees, Shire Lane, Chalfont St. Peter",High Trees,Shire Lane,Chalfont St. Peter
1304184,"Nathans Barn, Chalfont Road",Nathans Barn,Chalfont Road,NaN
1308069,"Crooked Billet, Shire Lane, Chalfont St. Peter",Crooked Billet,Shire Lane,Chalfont St. Peter
1315613,"Court Cottage, Shire Lane, Chalfont St. Peter",Court Cottage,Shire Lane,Chalfont St. Peter
1329331,"Flat 1, Hill View, Shire Lane",Flat 1,Hill View,Shire Lane

In [52]:
valid_EPC.ADDRESS2.fillna('')

144134
144135     1a, Stoke Road
144136
144137
144138
                ...
1303430        Shire Lane
1304184     Chalfont Road
1308069        Shire Lane
1315613        Shire Lane
1329331        Hill View
Name: ADDRESS2, Length: 222359, dtype: object

In [109]:
valid_EPC['combined_address'] = valid_EPC[['ADDRESS', 'POSTCODE']].agg(' '.join, axis=1)
valid_EPC.head()

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_90282/947810106.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_EPC['combined_address'] = valid_EPC[['ADDRESS', 'POSTCODE']].agg(' '.join, axis=1)

,LMK_KEY,ADDRESS1,ADDRESS2,ADDRESS3,POSTCODE,BUILDING_REFERENCE_NUMBER,CURRENT_ENERGY_RATING,POTENTIAL_ENERGY_RATING,CURRENT_ENERGY_EFFICIENCY,POTENTIAL_ENERGY_EFFICIENCY,...,CONSTRUCTION_AGE_BAND,LODGEMENT_DATETIME,TENURE,FIXED_LIGHTING_OUTLETS_COUNT,LOW_ENERGY_FIXED_LIGHT_COUNT,UPRN,UPRN_SOURCE,REPORT_TYPE,source_file,combined_address
144134,210776721852020070208271224000054,"48, Stanhope Road",NaN,NaN,SL1 6JS,487146568,D,B,56,84,...,England and Wales: 1930-1949,2020-07-02 08:27:12,rental (private),NaN,NaN,1.000803e+11,Address Matched,100,data-epc/domestic-E06000039-Slough/certificate...,"48, Stanhope Road SL1 6JS"
144135,1326681509222015052912541786218345,Flat 112 West Central,"1a, Stoke Road",NaN,SL2 5PF,4881046378,C,C,77,77,...,NO DATA!,2015-05-29 12:54:17,unknown,10.0,10.0,1.009077e+10,Address Matched,101,data-epc/domestic-E06000039-Slough/certificate...,"Flat 112 West Central, 1a, Stoke Road SL2 5PF"
144136,962080069842014120417254410040148,"39a, Hencroft Street South",NaN,NaN,SL1 1RF,3825360178,D,C,60,78,...,England and Wales: 1900-1929,2014-12-04 17:25:44,rental (private),7.0,5.0,1.000803e+11,Address Matched,100,data-epc/domestic-E06000039-Slough/certificate...,"39a, Hencroft Street South SL1 1RF"
144137,1132980469202014051311353821240768,"20, Thorndike",NaN,NaN,SL2 1SR,9294862278,D,B,63,87,...,England and Wales: 1950-1966,2014-05-13 11:35:38,owner-occupied,12.0,7.0,1.000803e+11,Address Matched,100,data-epc/domestic-E06000039-Slough/certificate...,"20, Thorndike SL2 1SR"
144138,225287962132009020314541192068601,"5, Elmwood Road",NaN,NaN,SL2 5QQ,6162637568,E,C,48,74,...,England and Wales: 1930-1949,2009-02-03 14:54:11,owner-occupied,NaN,NaN,1.000803e+11,Address Matched,100,data-epc/domestic-E06000039-Slough/certificate...,"5, Elmwood Road SL2 5QQ"

In [ ]:
LR_combined['ADDRESS_V1'] = LR_combined[['paon','street','postcode']].agg(' '.join, axis=1)
LR_combined.head()

In [70]:
# Attempting a merge now the combined columns are done

merged = LR_combined.merge(valid_EPC,on='combined_address', how='left',indicator=True) #indicator to show merge status! 

print(merged['_merge'].value_counts())

_merge
left_only     21786
both            566
right_only        0
Name: count, dtype: int64

In [72]:
!pip install rapidfuzz

Collecting rapidfuzz
  Downloading rapidfuzz-3.14.3-cp312-cp312-macosx_11_0_arm64.whl.metadata (12 kB)
Downloading rapidfuzz-3.14.3-cp312-cp312-macosx_11_0_arm64.whl (1.4 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1.4/1.4 MB 9.5 MB/s  0:00:00
Installing collected packages: rapidfuzz
Successfully installed rapidfuzz-3.14.3

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [73]:
from rapidfuzz import fuzz, process

In [137]:
LR_combined['combined_address'] = LR_combined['combined_address'].str.lower()
valid_EPC['combined_address'] = valid_EPC['combined_address'].str.lower()

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_90282/1896803352.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_EPC['combined_address'] = valid_EPC['combined_address'].str.lower()

In [138]:

right_addresses = valid_EPC['combined_address'].unique().tolist()

# Fuzzy Match operation
def fuzzy_merge_row(address, threshold=85):
    match = process.extractOne(address, right_addresses, scorer=fuzz.ratio)
    if match and match[1] >= threshold:
        return match[0]
    return None

LR_combined['fuzzy_match'] = LR_combined.apply(fuzzy_merge_row)

# Now merging 

result = LR_combined.merge(valid_EPC, left_on='fuzzy_match',right_on='combined_address',how='left', indicator=True)

KeyboardInterrupt:

In [81]:
right_addresses

['48 Stanhope Road SL1 6JS',
 'Flat 112 West Central 1a Stoke Road SL2 5PF',
 '39a Hencroft Street South SL1 1RF',
 '20 Thorndike SL2 1SR',
 '5 Elmwood Road SL2 5QQ',
 '6 Lodge Close SL1 2XX',
 '46 Worcester Gardens SL1 2QB',
 '4 Arlington Court Hawtrey Close SL1 1AN',
 '10 St. Elmo Crescent SL2 1NN',
 '38 Salt Hill Way SL1 3TR',
 'Flat 65 The Pines Forest Close Wexham SL2 4FJ',
 '37 Gilmore Close SL3 7BD',
 '106 Botham Drive SL1 2LZ',
 'Flat 6 27 Grays Place SL2 5JQ',
 '36 The Foyer 52 Stoke Road SL2 5AW',
 '32 Leith Close SL1 1UT',
 '76 Burnham Lane SL1 6LS',
 '42 Windermere Way SL1 6EL',
 '6 Moore Close SL1 9HJ',
 '12 Lundy Court Bower Way SL1 5HS',
 '7 Vicarage Way Colnbrook SL3 0RA',
 '62 Cornwall Avenue SL2 1AZ',
 '26 Chatfield SL2 1SF',
 '34 Worcester Gardens SL1 2QD',
 'Flat 7 D T C House 29 Grays Place SL2 5AF',
 '29 Richards Way SL1 5EU',
 '124 Parlaunt Road SL3 8AZ',
 '49 Lower Cippenham Lane SL1 5DG',
 '17 Wren Court New Road SL3 8JL',
 'Flat 19 21 Kenyon Way SL3 8BL',
 'Flat 140 Crossways Windsor Road SL1 2NW',
 '185 Weekes Drive SL1 2YW',
 '44 Walpole Road SL1 6PA',
 '40 Cornwall Avenue SL2 1AZ',
 '10 Southcroft SL2 1HW',
 '3 Rudsworth Close Colnbrook SL3 0HR',
 '69 Elmwood Road SL2 5QH',
 '54 Thirlmere Avenue SL1 6ED',
 '58 Lewins Way SL1 5HG',
 '71 Whittaker Road SL2 2LP',
 '19 Grampian Way SL3 8UF',
 'Flat 40 The Pines Forest Close Wexham SL2 4FJ',
 '11 Hawker Court High Street Langley SL3 8LU',
 '52 Farm Crescent SL2 5TH',
 '108 Lismore Park SL2 5DF',
 'Flat 39 Vanburgh Court 40 Stoke Road SL2 5XQ',
 '22 Carmarthen Road SL1 3PS',
 '40 Hawkes Close Langley SL3 8BN',
 '43 Lydford Avenue SL2 1NL',
 'Flat 6 Chancellor House Farnburn Avenue SL1 4EH',
 '24 Cotswold Close SL1 2TG',
 '11 Mirador Crescent SL2 5JX',
 '52 Marescroft Road SL2 2LW',
 '163 Goodman Park SL2 5NR',
 '4 Jubilee Cottages Sutton Lane SL3 8AD',
 '15 Parlaunt Road SL3 8BD',
 'Apartment 2 Wardour Place Nixey Close SL1 1GQ',
 '2 Borderside SL2 5QS',
 'Flat 5 Merton Court 4 Merton Road SL1 1QR',
 '14 Deena Close SL1 5HN',
 'Flat 92 26 High Street SL1 1ER',
 '24 The Drive SL3 7DB',
 '27 Nicholas Gardens SL1 5TT',
 '42 Mead Avenue SL3 8HT',
 'Flat 18 Highview Point 92 High Street SL1 1EL',
 '282 Uxbridge Road SL2 5NY',
 '31 Marunden Green SL2 2DU',
 '4 Malpas Road SL2 5JS',
 '67c Meadfield Road SL3 8HR',
 '6 Whiteford Road SL2 1JX',
 '99 Tamar Way SL3 8SY',
 '54 Hazlemere Road SL2 5PW',
 'Flat 15 Duvall Court Merton Road SL1 1QA',
 '26 Cranford Drive SL1 5FA',
 '36 Perryman Way SL2 2HG',
 '12 Earls Lane SL1 5EX',
 '4 Huntercombe Lane North Taplow SL6 0LG',
 '3 Beverley Court Sussex Place SL1 1NL',
 '26 Botham Drive SL1 2LY',
 'Flat 15 Cornwall House 55-57 High Street SL1 1DZ',
 '77 Cherry Avenue SL3 7BX',
 '11 Exton Apartments 6-8 The Grove SL1 1GW',
 '42b Petersfield Avenue SL2 5DN',
 'Apartment 100 Verona Apartments 50 Wellington Street SL1 1YL',
 '23 Bridgewater Court Common Road SL3 8JX',
 '62 Kendal Drive SL2 5JA',
 '56 Cardigan Close SL1 5HB',
 'Flat 31 Crossways Windsor Road SL1 2NE',
 '146 Northern Road SL2 1LP',
 '77 Salt Hill Way SL1 3TT',
 '19 Stornaway Road SL3 8WY',
 '4 Sherman Road SL1 3NE',
 '19 Adelphi Gardens SL1 2RF',
 '99 Kendal Drive SL2 5HU',
 '42 Diamond Road SL1 1RX',
 '59 Wavell Gardens SL2 2EL',
 '38 Rochfords Gardens SL2 5XJ',
 '356 Trelawney Avenue SL3 7TS',
 'Flat 30 Pechiney House The Grove SL1 1QP',
 '13 Beechwood Gardens SL1 2HW',
 '41 Moor Furlong SL1 5UG',
 '16b Stowe Road SL1 5QF',
 '39 Diamond Road SL1 1RT',
 '24 Botham Drive SL1 2LY',
 'Flat 84 The Junction Grays Place SL2 5GF',
 '61 Trent Road SL3 8AW',
 '303 Maplin Park SL3 8YE',
 '65 Thorndike SL2 1SR',
 'Flat B 120 London Road SL3 7HS',
 '28 Crayle Street SL2 2AE',
 '26 BOTHAM DRIVE SL1 2LY',
 '11 Garden Cottages High Street Colnbrook SL3 0LZ',
 '48 Middlegreen Road SL3 7BW',
 '65 Salisbury Avenue SL2 1AG',
 '34 Eltham Avenue SL1 5TH',
 'First Tower Bridge Street Colnbrook SL3 0JH',
 '118 Littlebrook Avenue SL2 2NE',
 '7 Tuns Lane SL1 2XA',
 '9 Randolph Road SL3 7QF',
 '25a Aldridge Road SL2 1TJ',
 '56 Langley Road SL3 7AD',
 '272 Trelawney Avenue SL3 7UD',
 '123 Granville Avenue SL2 1JR',
 '10 Headington Place Mill Street SL2 5EL',
 '43 Littlebrook Avenue SL2 2PD',
 '201 Wentworth Avenue SL2 2AP',
 '66 Fotheringay Gardens SL1 5SR',
 '165 Stoke Road SL2 5BQ',
 '68 St. Johns Road SL2 5HA',
 '14 Stanley Green East SL3 7RF',
 'Apartment 23 Trevenna 97-111 Windsor Road SL1 2JL',
 '58a Elliman Avenue SL2 5BG',
 '71 Elmwood Road SL2 5QH',
 '55 Bromycroft Road SL2 2BN',
 '16 Worcester Gardens SL1 2QD',
 '35 Burgett Road SL1 2TJ',
 '54 Whiteford Road SL2 1JX',
 'Flat 3 Maybury House Maybury Close SL1 6FD',
 'Flat 98 West Central 1a Stoke Road SL2 5PF',
 '199 Rokesby Road SL2 2EQ',
 'Flat 2 36-38 Chalvey Road East SL1 2LR',
 '397 Rochfords Gardens SL2 5XE',
 '83 Thorndike SL2 1SR',
 '86 Marescroft Road SL2 2LW',
 '21 Odencroft Road SL2 2BS',
 '116 Norway Drive SL2 5QW',
 '37 Layton Crescent SL3 8DP',
 '127 Sandringham Court SL1 6JU',
 'Flat 19 Buckingham Court Buckingham Gardens SL1 1GG',
 '392A FARNHAM ROAD SL2 1JD',
 '40 Laburnum Grove SL3 8QU',
 '71 Meadfield Road SL3 8HY',
 '40 Surrey Avenue SL2 1DT',
 '40 Littlebrook Avenue SL2 2NN',
 'Flat 10 Byron House Common Road SL3 8TR',
 'Flat 73 Quadrivium Point Bath Road SL1 3UG',
 'Flat 155 Foundry Court Mill Street SL2 5FZ',
 'Flat 4 St. Andrews Court 1 Upton Park SL1 2DA',
 '36 Frimley Drive SL1 5FL',
 '18 Drift Way Colnbrook SL3 0LQ',
 '13 Quaves Road SL3 7NX',
 '48 Vicarage Way Colnbrook SL3 0RE',
 '24 Blunden Drive SL3 8WG',
 'Flat 12 Thistlehurst Apartments 4 Finefield Walk SL1 2QQ',
 '4 Adelphi Gardens SL1 2RG',
 'Flat 71 The Junction SL2 5GE',
 '74 Keel Drive SL1 2XY',
 '116 Mildenhall Road SL1 3JF',
 '357 Trelawney Avenue SL3 7TX',
 '2b Faraday Road SL2 1RU',
 'Flat 28 102-104 Farnham Road SL1 4ED',
 '140c Derwent Drive SL1 6HW',
 '19 Littlebrook Avenue SL2 2NW',
 '67 Blumfield Crescent SL1 6NL',
 '16 Royston Way SL1 6ER',
 '3 Landmark Row Sutton Lane SL3 8AB',
 '41 Portland Close SL2 2LT',
 'Flat 2 65 Hencroft Street South SL1 1RF',
 '35 Pearl Gardens SL1 2YX',
 '473a Bath Road SL1 6AA',
 '33 Allington Court Myrtle Crescent SL2 5AL',
 '6 Acorn Close SL3 8GU',
 'Flat 16 Quadrivium Point Tuns Lane SL1 2WN',
 '79 Littlebrook Avenue SL2 2PD',
 '117c Furnival Avenue SL2 1DF',
 'Flat 5 2 Burlington Court Burlington Road SL1 2JS',
 '54 Farm Crescent SL2 5TH',
 '332 Wexham Road SL2 5QL',
 'First Floor Flat 8 Wood Lane SL1 9EA',
 '43 Gaveston Road SL2 2HX',
 'Flat 45 Quadrivium Point Tuns Lane SL1 2WN',
 '8 St. Marys Road SL3 7EL',
 '63 Warwick Avenue SL2 1DU',
 '142 Mercian Way SL1 5LE',
 '63 Seymour Road SL1 2NT',
 '30 Blunden Drive SL3 8WG',
 '11 Warwick Avenue SL2 1DU',
 '21 Crosthwaite Way SL1 6ET',
 '9 LEWES COURT SL1 2DU',
 'Flat 25 Shaftesbury Court 18 Chalvey Park SL1 2ER',
 '23 Quaves Road SL3 7NX',
 '24 Cavendish Court Coleridge Crescent Colnbrook SL3 0QQ',
 '336 Walpole Road SL1 6PP',
 '43 Aspects Court SL1 2EG',
 '107a High Street Langley SL3 8NG',
 '63 Telford Drive SL1 9LB',
 '57 Topaz Close SL1 2YU',
 'Flat 2 Buckingham Court Buckingham Gardens SL1 1HP',
 '154 Maplin Park SL3 8XZ',
 '89 Sandringham Court SL1 6JU',
 '12 Elmhurst Road SL3 8LT',
 '10 Blythe Houses Barnfield SL1 5JL',
 '37 Chalvey Park SL1 2HX',
 'Ground Floor Flat 41 Clive Court SL1 2SH',
 'Flat 4 19-21 Elmshott Lane Cippenham SL1 5QS',
 '78 Bath Road SL1 3SR',
 '269a Goodman Park SL2 5NP',
 '17 Westlands Avenue SL1 6AG',
 '46 The Green SL1 2SN',
 '70 Reddington Drive SL3 7QL',
 '11 Eaton Avenue SL1 6EZ',
 '6 Birley Road SL1 3EY',
 '27 Aldridge Road SL2 1TJ',
 '11 Plaines Close SL1 5TY',
 '265 Uxbridge Road SL2 5PA',
 '105 TRELAWNEY AVENUE SLOUGH SL3 8RG',
 '6 Penzance Spur SL2 1UX',
 'Flat 7 Duvall Court Merton Road SL1 1QA',
 '1a The Cherries SL2 5TS',
 'Ground Floor Flat 18 Kendal Drive SL2 5JB',
 '97 Alpha Street South SL1 1QZ',
 '10 Sovereign Heights SL3 8PY',
 'Flat 23 Maple House 95 High Street SL1 1DJ',
 '51 Sandringham Court SL1 6JU',
 '88 Oatlands Drive SL1 3HU',
 '58 Laburnum Grove SL3 8QU',
 'Flat 20 Northampton Place 82 Northampton Avenue SL1 3FT',
 '82 Maple Crescent SL2 5LR',
 '36 Franklin Avenue SL2 1RX',
 '64 Thirlmere Avenue SL1 6ED',
 'Flat 5 281 High Street SL1 1BD',
 '31 Corfe Gardens SL1 5SX',
 '10a Petersfield Avenue SL2 5DN',
 '22 Paget Road SL3 7QW',
 '9 Greenwatt Way Primary Road SL1 2ES',
 '45 Ragstone Road SL1 2PP',
 'Flat 8 BMW House Petersfield Avenue SL2 5EA',
 '66 Borderside SL2 5QS',
 'flat 1 2 Ivy Crescent SL1 5DA',
 '55 Layton Crescent SL3 8DP',
 '19 Burford Gardens SL1 6DN',
 'Flat 4 Charlcot Mews Bower Way SL1 5HD',
 '28 Marunden Green SL2 2DU',
 '41 The Lawns Old Bath Road SL3 0NH',
 'Flat 32 The Pines Forest Close Wexham SL2 4FJ',
 '71 Thirlmere Avenue SL1 6EB',
 '22 Burgett Road SL1 2UB',
 '38 Odencroft Road SL2 2BP',
 'The Annex Manor Farm Common Road Dorney SL4 6PX',
 '230 Spackmans Way SL1 2SE',
 '3 Edmunds Way SL2 5UJ',
 '22 Northcroft SL2 1HS',
 '43 Moor Furlong SL1 5UG',
 '31 Stanley Green West SL3 7RE',
 '65 King Edward Street SL1 2QT',
 '62 Westlands Avenue SL1 6AN',
 '46 Carrington Road SL1 3RH',
 '16 Meadow Road SL3 7QA',
 '38 Westgate Crescent SL1 5BY',
 '24 Westlands Avenue SL1 6AN',
 'Flat 2 Northampton Place 82 Northampton Avenue SL1 3FT',
 '31 Hanover Close SL1 2AP',
 '12 Scholars Walk Langley SL3 8LY',
 '143 Northern Road SL2 1LT',
 '23 Hemming Way SL2 1QR',
 '12 Charles Gardens SL2 5QX',
 '18 Norway Drive SL2 5QW',
 '10d Station Road Cippenham SL1 6JJ',
 '19 Kent Avenue SL1 3AB',
 '24 Brackenforde SL3 7AU',
 '8 Foxherne SL3 7AR',
 '214 Walpole Road SL1 6PQ',
 'Flat 40 Atria House 219 Bath Road SL1 4BF',
 '8 Moore Close SL1 9HJ',
 '130 Priory Road SL1 6DP',
 'Flat 11 Heathrow Gateway 585 London Road SL3 8FB',
 '145 Weekes Drive SL1 2YW',
 '23 Randolph Road SL3 7QF',
 '73 Chadwick Road SL3 7FT',
 '92 Upton Park SL1 2DG',
 '67 Victoria Road SL2 5NF',
 '26 St. Elmo Crescent SL2 1NN',
 '143 Doddsfield Road SL2 2BA',
 'Flat 12 St. Andrews Court 1 Upton Park SL1 2DA',
 '79 Bowyer Drive SL1 5EF',
 '115 Bader Gardens SL1 9DL',
 '17 Milford Court Wexham Road SL1 1UE',
 '2a Baylis Road SL1 3PJ',
 '39 Farm Crescent SL2 5TQ',
 'Flat 33 Kingswood House Farnham Road SL2 1DA',
 '365 Rochfords Gardens SL2 5XE',
 'Flat 15 Noble Court Mill Street SL2 5DP',
 '107 Trelawney Avenue SL3 8RG',
 '126 Maplin Park SL3 8XZ',
 '35 Walpole Road SL1 6PA',
 '160 Lowestoft Drive SL1 6PD',
 '73 Wellesley Road SL1 1UX',
 '13a Oldway Lane SL1 5LA',
 'Flat 41 Shaftesbury Court 18 Chalvey Park SL1 2ER',
 'Flat 1 24 High Street SL1 1EQ',
 '87 Eltham Avenue SL1 5UW',
 '81 Furnival Avenue SL2 1DL',
 '2 Berryfield SL2 5SE',
 '25 Beechwood Gardens SL1 2HW',
 '15 Hurricane Court Heron Drive SL3 8FA',
 'Flat 11 67 Upton Park SL1 2GF',
 '64 Huntercombe Lane North SL1 6DU',
 '18 Brookside Colnbrook SL3 0LG',
 '4 Hanover Close SL1 2AP',
 '53 Eltham Avenue SL1 5TQ',
 'Flat 9 Merton Court 4 Merton Road SL1 1QR',
 '31a Chalvey Road East SL1 2LN',
 'Flat 80 26 High Street SL1 1EP',
 '68 Adelphi Gardens SL1 2RG',
 '3 Palace Close SL1 5NG',
 '156 Mead Avenue SL3 8JA',
 '31 York Avenue SL1 3HW',
 '24 Folkestone Court SL3 8LX',
 '26 Lilley Way SL1 5UQ',
 '138B WELLINGTON STREET SL1 1RP',
 '161 Long Furlong Drive SL2 2DN',
 '63 Wavell Gardens SL2 2EL',
 '4 Braemar Gardens SL1 9DD',
 '225 Trelawney Avenue SL3 8RF',
 '2 Grays Road SL1 3QG',
 '200 The Frithe SL2 5RW',
 '100 Botham Drive SL1 2LZ',
 '10 Gilbert Way SL3 7GR',
 'Apartment 28 Nova House 1 Buckingham Gardens SL1 1AY',
 '89 St. Johns Road SL2 5EZ',
 'Flat 9 Brisbane Court Buckingham Gardens SL1 1HP',
 '15 Two Mile Drive SL1 5UH',
 '2 Hillersdon SL2 5UF',
 '63 Braemar Gardens SL1 9DB',
 '13 Montague Road SL1 3RP',
 '60a Belgrave Road SL1 3RE',
 '15 Hunters Way SL1 5UB',
 'Flat 21 Airways 2 Langley Road SL3 7FH',
 '48 Canterbury Avenue SL2 1EG',
 '3 Kirkwall Spur SL1 3XY',
 '174 Lynch Hill Lane SL2 2QA',
 '21 Mitchell Close SL1 9DY',
 '21 HAMPSHIRE AVENUE SL1 3AG',
 '72 Fox Road SL3 7SJ',
 '224 Reddington Drive SL3 7SL',
 'Flat 42 Kingswood House Farnham Road SL2 1DA',
 '62 Bramber Court SL1 5SU',
 '1 Queens Court Queens Road SL1 3QR',
 'Flat 5 Block E Opecks Close Wexham SL2 4GB',
 '186 REDDINGTON DRIVE SL3 7QB',
 '8 Lambert Avenue SL3 7EB',
 '11 Franklin Avenue SL2 1RX',
 '7 Hornbeam Gardens SL1 2DZ',
 '29 Surrey Avenue SL2 1DS',
 '80 Chadwick Road SL3 7FU',
 '4 Redwood Gardens Godolphin Road SL1 3DT',
 '1 Howard Mews Laburnum Grove SL3 8WS',
 '336 Rochfords Gardens SL2 5XW',
 '3 Melford Road SL2 2LU',
 '8 The Frithe SL2 5ST',
 '9 Ibex House Burlington Road SL1 2BY',
 'Annex 47 Meadfield Road SL3 8HR',
 'Flat 83 Foundry Court Mill Street SL2 5FY',
 '93 Moreton Way SL1 5LR',
 '10 Coniston Crescent SL1 6EE',
 '25 Windermere Way SL1 6EJ',
 'Flat 36 Crossways Windsor Road SL1 2NE',
 '99 Victoria Road SL2 5NF',
 'Flat 15 Foundry Court Mill Street SL2 5FY',
 '1 Crosthwaite Way SL1 6ET',
 '3 Wheelwrights Place High Street SL3 0JX',
 '108 Lynch Hill Lane SL2 2QB',
 'Flat 17 Buckingham Court Buckingham Gardens SL1 1GG',
 '17a Baylis Parade SL1 3LF',
 '105 Thirlmere Avenue SL1 6EB',
 '152 WINDMILL ROAD SL1 3SW',
 '27 Ashmount Crescent SL1 5AW',
 '122 Scholars Walk Langley SL3 8LZ',
 '64 Winvale SL1 2JH',
 '5 Webb Close SL3 7SQ',
 '1 Central Drive SL1 5HL',
 '189 Holmedale SL2 5RJ',
 '47 Gascons Grove SL2 1TH',
 '23 Melbourne Avenue SL1 3ED',
 '54 Eden Close SL3 8TZ',
 '38 Lydford Avenue SL2 1NL',
 '43 Calbroke Road SL2 2HY',
 '39 Rochfords Gardens SL2 5XA',
 '565 Rochfords Gardens SL2 5XG',
 'Flat 68 Skyline 292-298 High Street SL1 1GF',
 '55 Oatlands Drive SL1 3EX',
 'First Floor Flat 1 St Pauls Avenue SL2 5EX',
 '7 Sovereign Heights SL3 8PZ',
 '64 Worcester Gardens SL1 2QB',
 '25 Haymill Road SL1 6NB',
 '3 Coniston Crescent SL1 6EE',
 '250 Rochfords Gardens SL2 5XW',
 'Flat 79 Crossways Windsor Road SL1 2NW',
 'Flat 12 BMW House Petersfield Avenue SL2 5EA',
 '53 Maryside SL3 7ES',
 '18 Radcot Avenue SL3 8EJ',
 '27 Leith Close SL1 1UT',
 '1 Merlin Close SL3 8QW',
 '20 Leaholme Gardens SL1 6LD',
 'Flat 19 Tiree House Franklin Avenue SL2 1DJ',
 '100a Seacourt Road SL3 8EW',
 'Flat 3 58 Hencroft Street South SL1 1RE',
 '253 Langley Road SL3 7EQ',
 '138 Doddsfield Road SL2 2AJ',
 '22 Barchester Road SL3 7HA',
 '125 Ragstone Road SL1 2PR',
 '68 Aspects Court SL1 2EZ',
 'Flat 3 Park House Apartments 15 Bath Road SL1 3GJ',
 '181 Wentworth Avenue SL2 2AW',
 '109a Meadfield Road SL3 8HY',
 '10 Thompson Close SL3 8NH',
 '51 Grays Road SL1 3QG',
 'Flat 7 10 Stoke Gardens SL1 3QQ',
 '32 Seymour Road SL1 2NY',
 '72 Willoughby Road SL3 8JQ',
 '102 Lismore Park SL2 5DF',
 '190 Littlebrook Avenue SL2 2PF',
 '84 Crown Meadow Colnbrook SL3 0LT',
 '103 Earls Lane SL1 5TD',
 '312 Blandford Close SL3 7UE',
 '71 STOKE ROAD SL2 5BJ',
 '1 Montague Road SL1 3RP',
 '15 Randall Close SL3 8RJ',
 '29 Queens Road SL1 3QW',
 '333 Trelawney Avenue SL3 7TX',
 'Flat 133 26 High Street SL1 1ER',
 '23 Chalvey Gardens SL1 2LW',
 '138 St. Pauls Avenue SL2 5ER',
 '90 Bryant Avenue SL2 1LN',
 '106 Granville Avenue SL2 1JS',
 '103 Churchill Road SL3 7RD',
 '15 Boxall Way SL3 7UG',
 '16b College Avenue SL1 2NB',
 '37 Austen Way SL3 7GF',
 '11 Albany Park Colnbrook SL3 0JT',
 '67 Portland Close SL2 2LT',
 '495 Maplin Park SL3 8YG',
 '41 Keel Drive SL1 2XU',
 '4 Hanover Gate Cippenham Lane SL1 5AA',
 '1 Worcester Gardens SL1 2QD',
 '2a Stour Close SL1 2TU',
 'Flat 13 Windsor Gate 110 Bath Road SL1 3FY',
 '46 Quinbrookes SL2 5RU',
 '35 Cippenham Lane SL1 5BZ',
 '3 West Point SL1 5LD',
 '1 Stoke View Littledown Road SL1 3QL',
 'Flat 78 30 Bath Road SL1 3SS',
 '14a Regent Court Stoke Poges Lane SL1 3LG',
 '134 Bader Gardens SL1 9DW',
 '39 Lansdowne Avenue SL1 3SG',
 'Flat 33 Brickfield Court 5 Bath Road SL1 3FX',
 '110 Crown Meadow Colnbrook SL3 0LT',
 '33 Newchurch Road SL2 1UE',
 '99 Maplin Park SL3 8YB',
 '12 Deverills Way SL3 8WN',
 'Flat 63 Skyline 292-298 High Street SL1 1GF',
 'Flat 17 Foundry Court Mill Street SL2 5FY',
 '5 Sherborne Close Colnbrook SL3 0PB',
 '157 High Street Langley SL3 8LP',
 '47 Buckland Avenue SL3 7PL',
 '56a Lancaster Avenue SL2 1AX',
 '25 Station Road Cippenham SL1 6JJ',
 '14 Aldin Avenue North SL1 1RS',
 '6 Headington Place Mill Street SL2 5EL',
 '16 Deverills Way SL3 8WN',
 '16 Lake Avenue SL1 3BZ',
 '34 Baird Close SL1 9HL',
 '54A ST. MARYS ROAD SL3 7EL',
 '11 Dolphin Road SL1 1TF',
 '5 Daventry Close Colnbrook SL3 0PW',
 '13 Northborough Road SL2 1RY',
 '99 Common Road SL3 8SX',
 '51 Bowyer Drive SL1 5EB',
 '6 Charter Close SL1 1RQ',
 '446 Trelawney Avenue SL3 7TS',
 '42 Jellicoe Close SL1 9HW',
 '411 FARNHAM ROAD FARNHAM ROYAL SL2 3AF',
 '38 Priory Road SL1 6DR',
 '47 Fox Road SL3 7SH',
 'Flat 9 21 Kenyon Way SL3 8BL',
 'Brook Farm House Bath Road Colnbrook SL3 0LU',
 '7a Kingfisher Court Farnham Road SL2 1JF',
 'Flat 48 Tower House Burlington Avenue SL1 2LA',
 'Flat 1 21 Kenyon Way SL3 8BL',
 '1b Spring Lane SL1 5BQ',
 '47a Woodland Avenue SL1 3BX',
 '229 Bath Road SL1 5PP',
 '7 Milford Court Wexham Road SL1 1UE',
 '15 Blenheim Road SL3 7NL',
 '131 Harrow Road SL3 8SJ',
 '394a Farnham Road SL2 1JD',
 '15 Stephenson Court Osborne Street SL1 1TN',
 '58 Marescroft Road SL2 2LW',
 '14 Starling Crescent SL3 7GY',
 '9 Sussex Keep Sussex Close SL1 1NY',
 '2 Seymour Road SL1 2NR',
 '121a Knolton Way SL2 5SH',
 '118b Stoke Road SL2 5AR',
 '7 Nicholas Gardens SL1 5TT',
 '34 Paget Road SL3 7QW',
 '17 Grant Avenue SL1 3NB',
 '17 Prestwood SL2 5TX',
 '6 Grosvenor Court Stoke Poges Lane SL1 3LQ',
 '12b Ragstone Road SL1 2PU',
 '49 Furnival Avenue SL2 1DH',
 '168 Farnham Road SL1 4XA',
 '60 Elmwood Road SL2 5QF',
 '174 Walpole Road SL1 6PG',
 '146 Rochfords Gardens SL2 5XL',
 '21 Sussex Place SL1 1NH',
 '42 Parlaunt Road SL3 8BB',
 '21 Filey Spur SL1 9JX',
 '585 Bath Road SL1 6AB',
 '43 Eaton Avenue SL1 6EZ',
 '133 Upton Court Road SL3 7NG',
 '117 Maplin Park SL3 8YB',
 '47 Woodford Way SL2 2BY',
 '75 Earls Lane SL1 5DJ',
 '19 Baxter Close SL1 2LT',
 '4 Fosters Path SL2 2JT',
 '230 Reddington Drive SL3 7SL',
 '133 Rochfords Gardens SL2 5XB',
 '11 Ladbrooke Road SL1 2SR',
 '27 Northern Road SL2 1PD',
 '115 Monksfield Way SL2 1QL',
 'Flat 25 4 Lyons Way SL2 5BZ',
 '46 Lewins Way SL1 5HG',
 '328 Trelawney Avenue SL3 7TY',
 '33 Sherborne Close Colnbrook SL3 0PB',
 '34 Aylesbury Crescent SL1 3ES',
 '7 Chestnut Avenue SL3 7DE',
 'Flat 2 Holly Court Bower Way SL1 5HQ',
 'Flat 18 Foundry Court Mill Street SL2 5FY',
 '65 Lascelles Road SL3 7PW',
 '3 Fielding Gardens SL3 7ED',
 '3 Elmwood Road SL2 5QQ',
 '48 Pearl Gardens SL1 2YT',
 'Flat 33 Noble Court Mill Street SL2 5DP',
 '87 Mead Avenue SL3 8HS',
 '86 Reddington Drive SL3 7QL',
 '10 Nicholas Gardens SL1 5TT',
 '24 Layburn Crescent SL3 8QN',
 '44 Patricia Close SL1 5HU',
 'Apartment 60 Verona Apartments 50 Wellington Street SL1 1YL',
 '30 Paget Road SL3 7QW',
 '8 Fotheringay Gardens SL1 5SR',
 '87 Knolton Way SL2 5TF',
 '134 Pearl Gardens SL1 2YZ',
 '270 Trelawney Avenue SL3 7UD',
 'Flat 25 Heathrow Gateway 585 London Road SL3 8FB',
 'Flat 58 Heathrow Gateway 585 London Road SL3 8FB',
 '67 Belgrave Road SL1 3RG',
 'FLAT 89 THE JUNCTION GRAYS PLACE SL2 5GF',
 '5 St. Pauls Avenue SL2 5EX',
 '52 Cardigan Close SL1 5HB',
 '169 High Street Chalvey SL1 2TW',
 '65 Diamond Road SL1 1RT',
 '12 Tamarisk Way SL1 2UW',
 '145 Monksfield Way SL2 1QJ',
 '44 Farm Crescent SL2 5TH',
 '47 Hawkes Close Langley SL3 8BN',
 '11 Hardy Close SL1 9AH',
 '135 Littlebrook Avenue SL2 2PD',
 '8b Hillside SL1 2RN',
 '134 Uxbridge Road SL2 5NT',
 '39 Lovegrove Drive SL2 2LS',
 '29 Queens Court Queens Road SL1 3QR',
 '30 Talbot Avenue SL3 8DB',
 '7 Clarendon Court Wexham Road SL2 5QJ',
 '24 Calbroke Road SL2 2HA',
 '8 Aldenham Close SL3 7FN',
 '20 Walpole Road SL1 6AU',
 'Flat 68 The Pines Forest Close Wexham SL2 4FJ',
 '211 Eltham Avenue SL1 5AF',
 '18 Common Road SL3 8JU',
 '88 Aspects Court SL1 2EZ',
 '275 Maplin Park SL3 8YE',
 '48 Warrington Avenue SL1 3BQ',
 '35 Goldsworthy Way SL1 6AZ',
 '1 Tithe Court SL3 8AS',
 'Flat 2 99 St. Andrews Way SL1 5LL',
 '184 High Street Langley SL3 8LF',

In [139]:
LR_combined['combined_address'] = LR_combined['combined_address'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)

LR_combined['combined_address'] = LR_combined['combined_address'].str.replace(r'\s+', ' ', regex=True).str.strip()

In [111]:
LR_combined.combined_address

0             49 AMERSHAM ROAD HP13 5AA
1             67 AMERSHAM ROAD HP13 5AA
2             67 AMERSHAM ROAD HP13 5AA
3            134 AMERSHAM ROAD HP13 5AB
4            145 AMERSHAM ROAD HP13 5AD
                      ...
22344    GLENTORP HALFACRE HILL SL9 9UD
22345            1 LINDEN DRIVE SL9 9UP
22346            5 LINDEN DRIVE SL9 9UP
22347           11 LINDEN DRIVE SL9 9UP
22348           12 LINDEN DRIVE SL9 9UP
Name: combined_address, Length: 22349, dtype: object

In [88]:
LR_combined.shape

(22349, 20)

In [140]:
valid_EPC['combined_address'] = valid_EPC['combined_address'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)

#
valid_EPC['combined_address'] = valid_EPC['combined_address'].str.replace(r'\s+', ' ', regex=True).str.strip()

/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_90282/201423290.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_EPC['combined_address'] = valid_EPC['combined_address'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)
/var/folders/c3/1g8s1kz57t5fy4f84jm4vjwr0000gn/T/ipykernel_90282/201423290.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valid_EPC['combined_address'] = valid_EPC['combined_address'].str.replace(r'\s+', ' ', regex=True).str.strip()

In [166]:
right_addresses = valid_EPC['combined_address'].unique().tolist()

# Fuzzy Match operation
def fuzzy_merge_row(address, threshold=80):
    match = process.extractOne(address, right_addresses, scorer=fuzz.ratio)
    if match and match[1] >= threshold:
        return match[0], match[1] # Returning the address and score
    return None

LR_combined[['fuzzy_match', 'match_confidence']] = LR_combined['combined_address'].apply(
    lambda x: pd.Series(fuzzy_merge_row(x))
    )

# Now merging 

result = LR_combined.merge(valid_EPC, left_on='fuzzy_match',right_on='combined_address',how='left', indicator=True)

In [167]:
result['_merge'].value_counts()

_merge
both          28815
left_only      2068
right_only        0
Name: count, dtype: int64

In [168]:
result.loc[result['match_confidence']<90].shape

(5388, 117)

In [170]:
result.loc[result['match_confidence']<85].to_csv('low_conf_match.csv')

In [144]:
# Checking EPC data for a record
valid_EPC['combined_address'].loc[valid_EPC['POSTCODE'] == 'HP13 5DA']

478719    14 park view crescent coates lane hp13 5da
479202     8 park view crescent coates lane hp13 5da
483225    17 park view crescent coates lane hp13 5da
484093    15 park view crescent coates lane hp13 5da
487321     5 park view crescent coates lane hp13 5da
488076     5 park view crescent coates lane hp13 5da
492416     4 park view crescent coates lane hp13 5da
498644    12 park view crescent coates lane hp13 5da
499909     2 park view crescent coates lane hp13 5da
503465    16 park view crescent coates lane hp13 5da
509449     7 park view crescent coates lane hp13 5da
511496    11 park view crescent coates lane hp13 5da
512287     6 park view crescent coates lane hp13 5da
512736     1 park view crescent coates lane hp13 5da
515122    10 park view crescent coates lane hp13 5da
517947     9 park view crescent coates lane hp13 5da
522091     3 park view crescent coates lane hp13 5da
662822     6 park view crescent coates lane hp13 5da
666570     7 park view crescent coates lane hp13 5da
667809    14 park view crescent coates lane hp13 5da
675240    10 park view crescent coates lane hp13 5da
Name: combined_address, dtype: object

In [104]:
LR_combined.head(n=100).to_csv('sample_lr.csv')

In [97]:
LR_combined['combined_address'].unique

<bound method Series.unique of 0                 AMERSHAM ROAD HP AA
1                 AMERSHAM ROAD HP AA
2                 AMERSHAM ROAD HP AA
3                 AMERSHAM ROAD HP AB
4                 AMERSHAM ROAD HP AD
                     ...
22344    GLENTORP HALFACRE HILL SL UD
22345              LINDEN DRIVE SL UP
22346              LINDEN DRIVE SL UP
22347              LINDEN DRIVE SL UP
22348              LINDEN DRIVE SL UP
Name: combined_address, Length: 22349, dtype: object>

In [98]:
valid_EPC['combined_address'].unique

<bound method Series.unique of 144134                                   Stanhope Road SL JS
144135                  Flat West Central a Stoke Road SL PF
144136                         a Hencroft Street South SL RF
144137                                       Thorndike SL SR
144138                                    Elmwood Road SL QQ
                                 ...
1303430        High Trees Shire Lane Chalfont St Peter SL QY
1304184                     Nathans Barn Chalfont Road HP BT
1308069    Crooked Billet Shire Lane Chalfont St Peter SL QY
1315613     Court Cottage Shire Lane Chalfont St Peter SL RB
1329331                      Flat Hill View Shire Lane SL QY
Name: combined_address, Length: 222359, dtype: object>