In [1]:
import pandas as pd

In [2]:
merged = pd.read_csv('data_output/merged_unclean.csv')
merged.head()

,Unnamed: 0,unique_id,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,...,LODGEMENT_DATETIME,TENURE,FIXED_LIGHTING_OUTLETS_COUNT,LOW_ENERGY_FIXED_LIGHT_COUNT,UPRN,UPRN_SOURCE,REPORT_TYPE,source_file_y,combined_address_y,_merge
0,0,E2D14905-119C-4C2D-E053-6B04A8C0422B,582000,2022-06-06,HP13 5AA,S,N,F,NaN,49,...,2018-03-19 08:31:10,owner-occupied,NaN,NaN,1.000805e+11,Address Matched,100.0,data-epc/domestic-E07000007-Wycombe/certificat...,49 amersham road hp13 5aa,both
1,1,E2D14905-119C-4C2D-E053-6B04A8C0422B,582000,2022-06-06,HP13 5AA,S,N,F,NaN,49,...,2018-03-20 08:41:24,owner-occupied,NaN,NaN,1.000805e+11,Address Matched,100.0,data-epc/domestic-E07000007-Wycombe/certificat...,49 amersham road hp13 5aa,both
2,2,E2D14905-119C-4C2D-E053-6B04A8C0422B,582000,2022-06-06,HP13 5AA,S,N,F,NaN,49,...,2010-03-11 15:33:11,owner-occupied,NaN,NaN,1.000805e+11,Address Matched,100.0,data-epc/domestic-E07000007-Wycombe/certificat...,49 amersham road hp13 5aa,both
3,3,E2D14905-119C-4C2D-E053-6B04A8C0422B,582000,2022-06-06,HP13 5AA,S,N,F,NaN,49,...,2010-03-11 15:17:43,owner-occupied,NaN,NaN,1.000805e+11,Address Matched,100.0,data-epc/domestic-E07000007-Wycombe/certificat...,49 amersham road hp13 5aa,both
4,4,2ACACE8C-96D3-295E-E063-4804A8C0B0EB,655000,2024-12-12,HP13 5AA,S,N,F,NaN,67,...,2023-11-09 12:07:28,Owner-occupied,23.0,NaN,1.000805e+11,Energy Assessor,100.0,data-epc/domestic-E06000060-Buckinghamshire/ce...,67a amersham road hp13 5aa,both

In [139]:
col = '_merge'
print(merged[col])

0        both
1        both
2        both
3        both
4        both
         ...
31015    both
31016    both
31017    both
31018    both
31019    both
Name: _merge, Length: 31020, dtype: object

In [140]:
merged[col].value_counts()

_merge
both         29168
left_only     1852
Name: count, dtype: int64

In [ ]:
drop_cols = ['Unnamed: 0', 'unique_id']